<!DOCTYPE html>
<html class="no-js" lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit-no" />

        <link rel="stylesheet" href="../public/vendor/fontawesome/css/all.min.css">
        <link rel="stylesheet" href="../public/css/style.css">

        <title>FishEye - Openclassrooms</title>
    </head>

    <body>
        <header role="banner" class="header__photographer">
            <a href="../index.html" class="header__photographer__link__image">
                <figure>
                    <img src="https://res.cloudinary.com/dlpyn3wxf/image/upload/v1614078430/logo_mig5no.png" alt="Fisheye Home page" />
                </figure>
            </a>
        </header>
        <main class="main-photographer">
            <section class="section-banner" aria-label="photographer information">
                <div class="banner">
                    <div class="banner__container">
                        <div class="banner__row">
                            <div class="banner__column__left">
                                <header id="photographer-2" class="banner__header">
                                    <h1 class="banner__title">Ellie-Rose Wilkens</h1>
                                    <div class="banner__subtitle">
                                        <span class="banner__locations">Paris, France</span>
                                    </div>
                                    <div class="banner__description">
                                        <span class="banner__desc">Capturer des compositions complexes</span>
                                    </div>
                                    <div class="banner__tags">
                                        <ul class="banner__tags__list">
                                            <li class="banner__items">
                                                <a class="banner__link__item" href="#">#sport</a>
                                            </li>
                                            <li class="banner__items">
                                                <a class="banner__link__item" href="#">#architecture</a>
                                            </li>
                                        </ul>
                                    </div>
                                </header>
                                <div class="banner__content">
                                    <button class="banner__btn banner__btn--primary">Contactez-moi</button>
                                </div>           
                            </div>
                            <div class="banner__column__right">
                                <figure class="banner__figure">
                                    <picture>
                                        <source media="(max-width: 640px)" srcset="../public/images/photographers-id/mobile/EllieRoseWilkens-mobile.jpg">
                                        <source media="(max-width: 1080px)" srcset="../public/images/photographers-id/tablet/EllieRoseWilkens-tablet.jpg">
                                        <source media="(max-width: 1438px)" srcset="../public/images/photographers-id/laptop/EllieRoseWilkens-laptop.jpg">
                                        <source media="(min-width: 1439px)" srcset="../public/images/photographers-id/desktop/EllieRoseWilkens-desktop.jpg">
                                        <img class="banner__image" src="../public/images/photographers-id/desktop/EllieRoseWilkens-desktop.jpg" alt="Ellie-Rose Wilkens" />     
                                    </picture>  
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <section class="section-gallery-images" aria-label="gallery images photographer">
                <div class="filter">
                    <span class="filter__text">Trier par</span>
                    <select class="filter__select">
                        <option class="filter__select__option" value="1">Popularity</option>
                        <option class="filter__select__option" value="2">Date</option>
                        <option class="filter__select__option" value="3">Titre</option>
                    </select>
                </div>
                
                <div class="gallery">
                    <article class="gallery__card">
                        <figure class="gallery__card__figure">
                            <video class="gallery__card__video" title="Tricks in the Air" preload="auto" autoplay controls>
                                <source src="../public/images/gallery/ellie-rose-wilkens/video/Sport_Tricks_in_the_air.mp4" type="video/mp4">
                            </video>
                            <figcaption class="gallery__card__figcaption"> 
                                <h2 class="gallery__card__title">Tricks in the Air</h2>
                                <div class="gallery__card__likes">
                                    <span class="gallery__likes" aria-label="likes">150</span>
                                    <i class="fa-2x fa-heart far gallery__icon__heart"></i>
                                </div>
                            </figcaption>
                        </figure> 
                    </article>
            
                    <article class="gallery__card">
                        <figure class="gallery__card__figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/ellie-rose-wilkens/mobile/Sport_Next_Hold-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/ellie-rose-wilkens/tablet/Sport_Next_Hold-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/ellie-rose-wilkens/laptop/Sport_Next_Hold-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/ellie-rose-wilkens/desktop/Sport_Next_Hold-desktop.jpg">
                                <img class="gallery__card__image" src="../public/images/gallery/ellie-rose-wilkens/desktop/Sport_Next_Hold-desktop.jpg" alt="Climber" />
                            </picture>
                            <figcaption class="gallery__card__figcaption">
                                <h2 class="gallery__card__title">Climber</h2>
                                <div class="gallery__card__likes">
                                    <span class="gallery__likes" aria-label="likes">101</span>
                                    <i class="fa-2x fa-heart far gallery__icon__heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
            
                    <article class="gallery__card">
                        <figure class="gallery__card__figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/ellie-rose-wilkens/mobile/sport_water_tunnel-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/ellie-rose-wilkens/tablet/sport_water_tunnel-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/ellie-rose-wilkens/laptop/sport_water_tunnel-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/ellie-rose-wilkens/desktop/sport_water_tunnel-desktop.jpg">
                                <img class="gallery__card__image" src="../public/images/gallery/ellie-rose-wilkens/desktop/sport_water_tunnel-desktop.jpg" alt="Surfer" />
                            </picture>
                            <figcaption class="gallery__card__figcaption">
                                <h2 class="gallery__card__title">Surfer</h2>
                                <div class="gallery__card__likes">
                                    <span class="gallery__likes" aria-label="likes">103</span>
                                    <i class="fa-2x fa-heart far gallery__icon__heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
            
                    <article class="gallery__card">
                        <figure class="gallery__card__figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/ellie-rose-wilkens/mobile/Sport_Sky_Cross-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/ellie-rose-wilkens/tablet/Sport_Sky_Cross-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/ellie-rose-wilkens/laptop/Sport_Sky_Cross-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/ellie-rose-wilkens/desktop/Sport_Sky_Cross-desktop.jpg">
                                <img class="gallery__card__image" src="../public/images/gallery/ellie-rose-wilkens/desktop/Sport_Sky_Cross-desktop.jpg" alt="Skier" />
                            </picture>
                            <figcaption class="gallery__card__figcaption">
                                <h2 class="gallery__card__title">Skier</h2>
                                <div class="gallery__card__likes">
                                    <span class="gallery__likes" aria-label="likes">77</span>
                                    <i class="fa-2x fa-heart far gallery__icon__heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
            
                    <article class="gallery__card">
                        <figure class="gallery__card__figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/ellie-rose-wilkens/mobile/Sport_Race_End-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/ellie-rose-wilkens/tablet/Sport_Race_End-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/ellie-rose-wilkens/laptop/Sport_Race_End-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/ellie-rose-wilkens/desktop/Sport_Race_End-desktop.jpg">
                                <img class="gallery__card__image" src="../public/images/gallery/ellie-rose-wilkens/desktop/Sport_Race_End-desktop.jpg" alt="Race End" />
                            </picture>
                            <figcaption class="gallery__card__figcaption">
                                <h2 class="gallery__card__title">Race End</h2>
                                <div class="gallery__card__likes">
                                    <span class="gallery__likes" aria-label="likes">88</span>
                                    <i class="fa-2x fa-heart far gallery__icon__heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
            
                    <article class="gallery__card">
                        <figure class="gallery__card__figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/ellie-rose-wilkens/mobile/Sport_Jump-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/ellie-rose-wilkens/tablet/Sport_Jump-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/ellie-rose-wilkens/laptop/Sport_Jump-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/ellie-rose-wilkens/desktop/Sport_Jump-desktop.jpg">
                                <img class="gallery__card__image" src="../public/images/gallery/ellie-rose-wilkens/desktop/Sport_Jump-desktop.jpg" alt="Jump!" />
                            </picture>
                            <figcaption class="gallery__card__figcaption">
                                <h2 class="gallery__card__title">Jump!</h2>
                                <div class="gallery__card__likes">
                                    <span class="gallery__likes" aria-label="likes">95</span>
                                    <i class="fa-2x fa-heart far gallery__icon__heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
            
                    <article class="gallery__card">
                        <figure class="gallery__card__figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/ellie-rose-wilkens/mobile/Architecture_White_Light-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/ellie-rose-wilkens/tablet/Architecture_White_Light-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/ellie-rose-wilkens/laptop/Architecture_White_Light-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/ellie-rose-wilkens/desktop/Architecture_White_Light-desktop.jpg">
                                <img class="gallery__card__image" src="../public/images/gallery/ellie-rose-wilkens/desktop/Architecture_White_Light-desktop.jpg" alt="White Light" />
                            </picture>
                            <figcaption class="gallery__card__figcaption">
                                <h2 class="gallery__card__title">White Light</h2>
                                <div class="gallery__card__likes">
                                    <span class="gallery__likes" aria-label="likes">52</span>
                                    <i class="fa-2x fa-heart far gallery__icon__heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
            
                    <article class="gallery__card">
                        <figure class="gallery__card__figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/ellie-rose-wilkens/mobile/Architecture_Water_on_Modern-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/ellie-rose-wilkens/tablet/Architecture_Water_on_Modern-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/ellie-rose-wilkens/laptop/Architecture_Water_on_Modern-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/ellie-rose-wilkens/desktop/Architecture_Water_on_Modern-desktop.jpg">
                                <img class="gallery__card__image" src="../public/images/gallery/ellie-rose-wilkens/desktop/Architecture_Water_on_Modern-desktop.jpg" alt="Water on Modern Building" />
                            </picture>
                            <figcaption class="gallery__card__figcaption">
                                <h2 class="gallery__card__title">Water on Modern Building</h2>
                                <div class="gallery__card__likes">
                                    <span class="gallery__likes" aria-label="likes">55</span>
                                    <i class="fa-2x fa-heart far gallery__icon__heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
            
                    <article class="gallery__card">
                        <figure class="gallery__card__figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/ellie-rose-wilkens/mobile/Architecture_Horseshoe-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/ellie-rose-wilkens/tablet/Architecture_Horseshoe-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/ellie-rose-wilkens/laptop/Architecture_Horseshoe-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/ellie-rose-wilkens/desktop/Architecture_Horseshoe-desktop.jpg">
                                <img class="gallery__card__image" src="../public/images/gallery/ellie-rose-wilkens/desktop/Architecture_Horseshoe-desktop.jpg" alt="Horseshoe" />
                            </picture>
                            <figcaption class="gallery__card__figcaption">
                                <h2 class="gallery__card__title">Horseshoe</h2>
                                <div class="gallery__card__likes">
                                    <span class="gallery__likes" aria-label="likes">85</span>
                                    <i class="fa-2x fa-heart far gallery__icon__heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
            
                    <article class="gallery__card">
                        <figure class="gallery__card__figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/ellie-rose-wilkens/mobile/Architecture_Cross_Bar-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/ellie-rose-wilkens/tablet/Architecture_Cross_Bar-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/ellie-rose-wilkens/laptop/Architecture_Cross_Bar-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/ellie-rose-wilkens/desktop/Architecture_Cross_Bar-desktop.jpg">
                                <img class="gallery__card__image" src="../public/images/gallery/ellie-rose-wilkens/desktop/Architecture_Cross_Bar-desktop.jpg" alt="Cross Bar" />
                            </picture>
                            <figcaption class="gallery__card__figcaption">
                                <h2 class="gallery__card__title">Cross Bar</h2>
                                <div class="gallery__card__likes">
                                    <span class="gallery__likes" aria-label="likes">66</span>
                                    <i class="fa-2x fa-heart far gallery__icon__heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
            
                    <article class="gallery__card">
                        <figure class="gallery__card__figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/ellie-rose-wilkens/mobile/Architecture_Connected-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/ellie-rose-wilkens/tablet/Architecture_Connected-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/ellie-rose-wilkens/laptop/Architecture_Connected-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/ellie-rose-wilkens/desktop/Architecture_Connected-desktop.jpg">
                                <img class="gallery__card__image" src="../public/images/gallery/ellie-rose-wilkens/desktop/Architecture_Connected-desktop.jpg" alt="Connected Curves" />
                            </picture>
                            <figcaption class="gallery__card__figcaption">
                                <h2 class="gallery__card__title">Connected Curves</h2>
                                <div class="gallery__card__likes">
                                    <span class="gallery__likes" aria-label="likes">79</span>
                                    <i class="fa-2x fa-heart far gallery__icon__heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                </div>
            </section>
            
            <section class="section-contact">
                <div class="modal" role="dialog" aria-labelledby="contact-title">
                    <div class="modal__container">
                        <header class="modal__header">
                            <h1 class="modal__title" id="contact-title">Contactez-moi <br>Ellie-Rose Wilkens</h1>
                            <span class="modal__close">&times;</span>
                        </header>
                        <div class="modal__form">
                            <form name="contactForm" action="ellie-rose-wilkens.html" method="get" id="contactForm">
                                <div class="modal__form__group">
                                    <label for="firstname" class="modal__form__label" id="label-firstname">Prénom</label>
                                    <input type="text" name="firstname" id="firstname" class="modal__form__input" aria-labelledby="label-firstname" minlength="2" maxlength="64" required />
                                    <span id="first-error"></span>
                                </div>
                                <div class="modal__form__group">
                                    <label for="lastname" class="modal__form__label" id="label-lastname">Nom</label>
                                    <input type="text" name="lastname" id="lastname" class="modal__form__input" aria-labelledby="label-lastname" minlength="2" maxlength="64" required />
                                    <span id="last-error"></span>
                                </div>
                                <div class="modal__form__group">
                                    <label for="email" class="modal__form__label" id="label-email">Email</label>
                                    <input type="email" name="email" id="email" class="modal__form__input" aria-labelledby="label-email" required />
                                    <span id="email-error"></span>
                                </div>
                                <div class="modal__form__group modal__form__group--textarea">
                                    <label for="message" class="modal__form__label" id="label-message">Votre message</label>
                                    <textarea name="message" id="message" class="modal__form__input modal__form__input--textarea" aria-labelledby="label-message" required></textarea>
                                    <span id="message-error"></span>
                                </div>
                                <button class="modal__btn modal__btn--submit" type="submit">Envoyer</button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            
            <section class="section-modal-image" aria-label="modal image photographer">
                <div class="slider" role="dialog" aria-label="image closeup view">
                    <span class="slider__close" role="button" aria-label="close dialog">&times;</span>
                    <ul class="slider__list__item">
                      <li class="slider__item slider__item--video">
                        <input class="slider__input" type="radio" name="radio-buttons" id="img-1" checked />
                        <div class="slider__item__container">
                            <article class="slider__article">
                                <figure class="slider__figure">
                                    <video class="slider__video" title="Tricks in the Air" preload="auto" autoplay controls>
                                        <source src="../public/images/gallery/ellie-rose-wilkens/video/Sport_Tricks_in_the_air.mp4" type="video/mp4">
                                    </video>
                                    <figcaption> 
                                        <h2 class="slider__title">Tricks in the Air</h2>
                                    </figcaption>
                                </figure> 
                            </article>
                            <div class="slider__controls">
                              <label for="img-11" class="slider__prev" aria-label="previous image">
                                <i class="fas fa-chevron-left"></i>
                              </label>
                              <label for="img-2" class="slider__next" aria-label="next image">
                                <i class="fas fa-chevron-right"></i>
                              </label>
                            </div>
                        </div>            
                      </li>
                  
                      <li class="slider__item">
                        <input class="slider__input" type="radio" name="radio-buttons" id="img-2" />
                        <div class="slider__item__container">
                            <article class="slider__article">
                                <figure class="slider__figure">
                                    <picture>
                                        <source media="(max-width: 640px)" srcset="../public/images/gallery/ellie-rose-wilkens/mobile/Sport_Next_Hold-mobile.jpg">
                                        <source media="(max-width: 1080px)" srcset="../public/images/gallery/ellie-rose-wilkens/tablet/Sport_Next_Hold-tablet.jpg">
                                        <source media="(max-width: 1438px)" srcset="../public/images/gallery/ellie-rose-wilkens/laptop/Sport_Next_Hold-laptop.jpg">
                                        <source media="(min-width: 1439px)" srcset="../public/images/gallery/ellie-rose-wilkens/desktop/Sport_Next_Hold-desktop.jpg">
                                        <img class="slider__image" src="../public/images/gallery/ellie-rose-wilkens/desktop/Sport_Next_Hold-desktop.jpg" alt="Climber" />
                                    </picture>
                                    <figcaption>
                                        <h2 class="slider__title">Climber</h2>
                                    </figcaption>
                                </figure>
                            </article>
                            <div class="slider__controls">
                              <label for="img-1" class="slider__prev" aria-label="previous image">
                                <i class="fas fa-chevron-left"></i>
                              </label>
                              <label for="img-3" class="slider__next" aria-label="next image">
                                <i class="fas fa-chevron-right"></i>
                              </label>
                            </div>
                        </div>            
                      </li>
                
                      <li class="slider__item">
                        <input class="slider__input" type="radio" name="radio-buttons" id="img-3" />
                        <div class="slider__item__container">
                            <article class="slider__article">
                                <figure class="slider__figure">
                                    <picture>
                                        <source media="(max-width: 640px)" srcset="../public/images/gallery/ellie-rose-wilkens/mobile/sport_water_tunnel-mobile.jpg">
                                        <source media="(max-width: 1080px)" srcset="../public/images/gallery/ellie-rose-wilkens/tablet/sport_water_tunnel-tablet.jpg">
                                        <source media="(max-width: 1438px)" srcset="../public/images/gallery/ellie-rose-wilkens/laptop/sport_water_tunnel-laptop.jpg">
                                        <source media="(min-width: 1439px)" srcset="../public/images/gallery/ellie-rose-wilkens/desktop/sport_water_tunnel-desktop.jpg">
                                        <img class="slider__image" src="../public/images/gallery/ellie-rose-wilkens/desktop/sport_water_tunnel-desktop.jpg" alt="Surfer" />
                                    </picture>
                                    <figcaption>
                                        <h2 class="slider__title">Surfer</h2>
                                    </figcaption>
                                </figure>
                            </article>
                            <div class="slider__controls">
                              <label for="img-2" class="slider__prev" aria-label="previous image">
                                <i class="fas fa-chevron-left"></i>
                              </label>
                              <label for="img-4" class="slider__next" aria-label="next image">
                                <i class="fas fa-chevron-right"></i>
                              </label>
                            </div>
                        </div>         
                      </li>
                
                      <li class="slider__item">
                        <input class="slider__input" type="radio" name="radio-buttons" id="img-4" />
                        <div class="slider__item__container">
                            <article class="slider__article">
                                <figure class="slider__figure">
                                    <picture>
                                        <source media="(max-width: 640px)" srcset="../public/images/gallery/ellie-rose-wilkens/mobile/Sport_Sky_Cross-mobile.jpg">
                                        <source media="(max-width: 1080px)" srcset="../public/images/gallery/ellie-rose-wilkens/tablet/Sport_Sky_Cross-tablet.jpg">
                                        <source media="(max-width: 1438px)" srcset="../public/images/gallery/ellie-rose-wilkens/laptop/Sport_Sky_Cross-laptop.jpg">
                                        <source media="(min-width: 1439px)" srcset="../public/images/gallery/ellie-rose-wilkens/desktop/Sport_Sky_Cross-desktop.jpg">
                                        <img class="slider__image" src="../public/images/gallery/ellie-rose-wilkens/desktop/Sport_Sky_Cross-desktop.jpg" alt="Skier" />
                                    </picture>
                                    <figcaption>
                                        <h2 class="slider__title">Skier</h2>
                                    </figcaption>
                                </figure>
                            </article>
                            <div class="slider__controls">
                              <label for="img-3" class="slider__prev" aria-label="previous image">
                                <i class="fas fa-chevron-left"></i>
                              </label>
                              <label for="img-5" class="slider__next" aria-label="next image">
                                <i class="fas fa-chevron-right"></i>
                              </label>
                            </div>
                        </div>
                      </li>
                
                      <li class="slider__item">
                        <input class="slider__input" type="radio" name="radio-buttons" id="img-5" />
                        <div class="slider__item__container">
                            <article class="slider__article">
                                <figure class="slider__figure">
                                    <picture>
                                        <source media="(max-width: 640px)" srcset="../public/images/gallery/ellie-rose-wilkens/mobile/Sport_Race_End-mobile.jpg">
                                        <source media="(max-width: 1080px)" srcset="../public/images/gallery/ellie-rose-wilkens/tablet/Sport_Race_End-tablet.jpg">
                                        <source media="(max-width: 1438px)" srcset="../public/images/gallery/ellie-rose-wilkens/laptop/Sport_Race_End-laptop.jpg">
                                        <source media="(min-width: 1439px)" srcset="../public/images/gallery/ellie-rose-wilkens/desktop/Sport_Race_End-desktop.jpg">
                                        <img class="slider__image" src="../public/images/gallery/ellie-rose-wilkens/desktop/Sport_Race_End-desktop.jpg" alt="Race End" />
                                    </picture>
                                    <figcaption>
                                        <h2 class="slider__title">Race End</h2>
                                    </figcaption>
                                </figure>
                            </article>
                            <div class="slider__controls">
                              <label for="img-4" class="slider__prev" aria-label="previous image">
                                <i class="fas fa-chevron-left"></i>
                              </label>
                              <label for="img-6" class="slider__next" aria-label="next image">
                                <i class="fas fa-chevron-right"></i>
                              </label>
                            </div>
                        </div>
                      </li>
                  
                      <li class="slider__item">
                        <input class="slider__input" type="radio" name="radio-buttons" id="img-6" />
                        <div class="slider__item__container">
                            <article class="slider__article">
                                <figure class="slider__figure">
                                    <picture>
                                        <source media="(max-width: 640px)" srcset="../public/images/gallery/ellie-rose-wilkens/mobile/Sport_Jump-mobile.jpg">
                                        <source media="(max-width: 1080px)" srcset="../public/images/gallery/ellie-rose-wilkens/tablet/Sport_Jump-tablet.jpg">
                                        <source media="(max-width: 1438px)" srcset="../public/images/gallery/ellie-rose-wilkens/laptop/Sport_Jump-laptop.jpg">
                                        <source media="(min-width: 1439px)" srcset="../public/images/gallery/ellie-rose-wilkens/desktop/Sport_Jump-desktop.jpg">
                                        <img class="slider__image" src="../public/images/gallery/ellie-rose-wilkens/desktop/Sport_Jump-desktop.jpg" alt="Jump!" />
                                    </picture>
                                    <figcaption>
                                        <h2 class="slider__title">Jump!</h2>
                                    </figcaption>
                                </figure>
                            </article>
                            <div class="slider__controls">
                              <label for="img-5" class="slider__prev" aria-label="previous image">
                                <i class="fas fa-chevron-left"></i>
                              </label>
                              <label for="img-7" class="slider__next" aria-label="next image">
                                <i class="fas fa-chevron-right"></i>
                              </label>
                            </div>
                        </div>               
                      </li>
                
                      <li class="slider__item">
                        <input class="slider__input" type="radio" name="radio-buttons" id="img-7" />
                        <div class="slider__item__container">
                            <article class="slider__article">
                                <figure class="slider__figure">
                                    <picture>
                                        <source media="(max-width: 640px)" srcset="../public/images/gallery/ellie-rose-wilkens/mobile/Architecture_White_Light-mobile.jpg">
                                        <source media="(max-width: 1080px)" srcset="../public/images/gallery/ellie-rose-wilkens/tablet/Architecture_White_Light-tablet.jpg">
                                        <source media="(max-width: 1438px)" srcset="../public/images/gallery/ellie-rose-wilkens/laptop/Architecture_White_Light-laptop.jpg">
                                        <source media="(min-width: 1439px)" srcset="../public/images/gallery/ellie-rose-wilkens/desktop/Architecture_White_Light-desktop.jpg">
                                        <img class="slider__image" src="../public/images/gallery/ellie-rose-wilkens/desktop/Architecture_White_Light-desktop.jpg" alt="White Light" />
                                    </picture>
                                    <figcaption>
                                        <h2 class="slider__title">White Light</h2>
                                    </figcaption>
                                </figure>
                            </article>
                            <div class="slider__controls">
                              <label for="img-6" class="slider__prev" aria-label="previous image">
                                <i class="fas fa-chevron-left"></i>
                              </label>
                              <label for="img-8" class="slider__next" aria-label="next image">
                                <i class="fas fa-chevron-right"></i>
                              </label>
                            </div>
                        </div>      
                      </li>
                
                      <li class="slider__item">
                        <input class="slider__input" type="radio" name="radio-buttons" id="img-8" />
                        <div class="slider__item__container">
                            <article class="slider__article">
                                <figure class="slider__figure">
                                    <picture>
                                        <source media="(max-width: 640px)" srcset="../public/images/gallery/ellie-rose-wilkens/mobile/Architecture_Water_on_Modern-mobile.jpg">
                                        <source media="(max-width: 1080px)" srcset="../public/images/gallery/ellie-rose-wilkens/tablet/Architecture_Water_on_Modern-tablet.jpg">
                                        <source media="(max-width: 1438px)" srcset="../public/images/gallery/ellie-rose-wilkens/laptop/Architecture_Water_on_Modern-laptop.jpg">
                                        <source media="(min-width: 1439px)" srcset="../public/images/gallery/ellie-rose-wilkens/desktop/Architecture_Water_on_Modern-desktop.jpg">
                                        <img class="slider__image" src="../public/images/gallery/ellie-rose-wilkens/desktop/Architecture_Water_on_Modern-desktop.jpg" alt="Water on Modern Building" />
                                    </picture>
                                    <figcaption>
                                        <h2 class="slider__title">Water on Modern Building</h2>
                                    </figcaption>
                                </figure>
                            </article>
                            <div class="slider__controls">
                              <label for="img-7" class="slider__prev" aria-label="previous image">
                                <i class="fas fa-chevron-left"></i>
                              </label>
                              <label for="img-9" class="slider__next" aria-label="next image">
                                <i class="fas fa-chevron-right"></i>
                              </label>
                            </div>
                        </div>        
                      </li>
                
                      <li class="slider__item">
                        <input class="slider__input" type="radio" name="radio-buttons" id="img-9"/>
                        <div class="slider__item__container">
                            <article class="slider__article">
                                <figure class="slider__figure">
                                    <picture>
                                        <source media="(max-width: 640px)" srcset="../public/images/gallery/ellie-rose-wilkens/mobile/Architecture_Horseshoe-mobile.jpg">
                                        <source media="(max-width: 1080px)" srcset="../public/images/gallery/ellie-rose-wilkens/tablet/Architecture_Horseshoe-tablet.jpg">
                                        <source media="(max-width: 1438px)" srcset="../public/images/gallery/ellie-rose-wilkens/laptop/Architecture_Horseshoe-laptop.jpg">
                                        <source media="(min-width: 1439px)" srcset="../public/images/gallery/ellie-rose-wilkens/desktop/Architecture_Horseshoe-desktop.jpg">
                                        <img class="slider__image" src="../public/images/gallery/ellie-rose-wilkens/desktop/Architecture_Horseshoe-desktop.jpg" alt="Horseshoe" />
                                    </picture>
                                    <figcaption>
                                        <h2 class="slider__title">Horseshoe</h2>
                                    </figcaption>
                                </figure>
                            </article>
                            <div class="slider__controls">
                              <label for="img-8" class="slider__prev" aria-label="previous image">
                                <i class="fas fa-chevron-left"></i>
                              </label>
                              <label for="img-10" class="slider__next" aria-label="next image">
                                <i class="fas fa-chevron-right"></i>
                              </label>
                            </div>
                        </div>                    
                      </li>

                      <li class="slider__item">
                        <input class="slider__input" type="radio" name="radio-buttons" id="img-10" />
                        <div class="slider__item__container">
                            <article class="slider__article">
                                <figure class="slider__figure">
                                    <picture>
                                        <source media="(max-width: 640px)" srcset="../public/images/gallery/ellie-rose-wilkens/mobile/Architecture_Cross_Bar-mobile.jpg">
                                        <source media="(max-width: 1080px)" srcset="../public/images/gallery/ellie-rose-wilkens/tablet/Architecture_Cross_Bar-tablet.jpg">
                                        <source media="(max-width: 1438px)" srcset="../public/images/gallery/ellie-rose-wilkens/laptop/Architecture_Cross_Bar-laptop.jpg">
                                        <source media="(min-width: 1439px)" srcset="../public/images/gallery/ellie-rose-wilkens/desktop/Architecture_Cross_Bar-desktop.jpg">
                                        <img class="slider__image" src="../public/images/gallery/ellie-rose-wilkens/desktop/Architecture_Cross_Bar-desktop.jpg" alt="Cross Bar" />
                                    </picture>
                                    <figcaption>
                                        <h2 class="slider__title">Cross Bar</h2>
                                    </figcaption>
                                </figure>
                            </article>
                            <div class="slider__controls">
                              <label for="img-9" class="slider__prev" aria-label="previous image">
                                <i class="fas fa-chevron-left"></i>
                              </label>
                              <label for="img-11" class="slider__next" aria-label="next image">
                                <i class="fas fa-chevron-right"></i>
                              </label>
                            </div>
                        </div>   
                      </li>

                      <li class="slider__item">
                        <input class="slider__input" type="radio" name="radio-buttons" id="img-11" />
                        <div class="slider__item__container">
                            <article class="slider__article">
                                <figure class="slider__figure">
                                    <picture>
                                        <source media="(max-width: 640px)" srcset="../public/images/gallery/ellie-rose-wilkens/mobile/Architecture_Connected-mobile.jpg">
                                        <source media="(max-width: 1080px)" srcset="../public/images/gallery/ellie-rose-wilkens/tablet/Architecture_Connected-tablet.jpg">
                                        <source media="(max-width: 1438px)" srcset="../public/images/gallery/ellie-rose-wilkens/laptop/Architecture_Connected-laptop.jpg">
                                        <source media="(min-width: 1439px)" srcset="../public/images/gallery/ellie-rose-wilkens/desktop/Architecture_Connected-desktop.jpg">
                                        <img class="slider__image" src="../public/images/gallery/ellie-rose-wilkens/desktop/Architecture_Connected-desktop.jpg" alt="Connected Curves" />
                                    </picture>
                                    <figcaption>
                                        <h2 class="slider__title">Connected Curves</h2>
                                    </figcaption>
                                </figure>
                            </article>
                            <div class="slider__controls">
                              <label for="img-10" class="slider__prev" aria-label="previous image">
                                <i class="fas fa-chevron-left"></i>
                              </label>
                              <label for="img-1" class="slider__next" aria-label="next image">
                                <i class="fas fa-chevron-right"></i>
                              </label>
                            </div>
                        </div>   
                      </li>
                    </ul>
                </div>
            </section>
        </main>
        <footer class="footer">
            <div class="footer__column">
                <span class="footer__like">287 081</span>
                <i class="fas fa-heart footer__icon__heart"></i>
            </div>
            <div class="footer__column">
                <span class="footer__price">250€ / jour</span>
            </div>
        </footer>
    </body>
</html>