<!DOCTYPE html>
<html class="no-js" lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit-no" />

        <link rel="stylesheet" href="../public/css/style.css">

        <title>FishEye - Openclassrooms</title>
    </head>

    <body>
        <header role="banner" class="header">
            <a href="../index.html" class="link-image">
                <figure>
                    <img src="https://res.cloudinary.com/dlpyn3wxf/image/upload/v1614078430/logo_mig5no.png" alt="Fisheye Home page" />
                </figure>
            </a>
        </header>
        <main class="main-photographer">
            <section class="section-banner" aria-label="photographer information">
                <div class="banner-info">
                    <div class="container">
                        <div class="row">
                            <div class="column-left">
                                <header id="photographer-6" class="banner-header">
                                    <h1 class="title">Marcel Nikolic</h1>
                                    <div class="subtitle">
                                        <span class="locations">Berlin, Germany</span>
                                    </div>
                                    <div class="description">
                                        <span class="desc">Toujours à la recherche de LA photo</span>
                                    </div>
                                    <div class="tags">
                                        <ul class="tags-list">
                                            <li class="list-items">
                                                <a class="link-item" href="#">#travel</a>
                                            </li>
                                            <li class="list-items">
                                                <a class="link-item" href="#">#architecture</a>
                                            </li>
                                        </ul>
                                    </div>
                                </header>
                                <div class="banner-content">
                                    <button class="btn btn-primary">Contactez-moi</button>
                                </div>           
                            </div>
                            <div class="column-right">
                                <figure>
                                    <picture>
                                        <source media="(max-width: 640px)" srcset="../public/images/photographers-id/mobile/MarcelNikolic-mobile.jpg">
                                        <source media="(max-width: 1080px)" srcset="../public/images/photographers-id/tablet/MarcelNikolic-tablet.jpg">
                                        <source media="(max-width: 1438px)" srcset="../public/images/photographers-id/laptop/MarcelNikolic-laptop.jpg">
                                        <source media="(min-width: 1439px)" srcset="../public/images/photographers-id/desktop/MarcelNikolic-desktop.jpg">
                                        <img class="image" src="../public/images/photographers-id/desktop/MarcelNikolic-desktop.jpg" alt="Marcel Nikolic" />     
                                    </picture>  
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>