<!DOCTYPE html>
<html class="no-js" lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit-no" />

        <link rel="stylesheet" href="../public/vendor/fontawesome/css/all.min.css">
        <link rel="stylesheet" href="../public/css/style.css">

        <title>FishEye - Openclassrooms</title>
    </head>

    <body>
        <header role="banner" class="header">
            <a href="../index.html" class="link-image">
                <figure>
                    <img src="https://res.cloudinary.com/dlpyn3wxf/image/upload/v1614078430/logo_mig5no.png" alt="Fisheye Home page" />
                </figure>
            </a>
        </header>
        <main class="main-photographer">
            <section class="section-banner" aria-label="photographer information">
                <div class="banner-info">
                    <div class="container">
                        <div class="row">
                            <div class="column-left">
                                <header id="photographer-6" class="banner-header">
                                    <h1 class="title">Marcel Nikolic</h1>
                                    <div class="subtitle">
                                        <span class="locations">Berlin, Germany</span>
                                    </div>
                                    <div class="description">
                                        <span class="desc">Toujours à la recherche de LA photo</span>
                                    </div>
                                    <div class="tags">
                                        <ul class="tags-list">
                                            <li class="list-items">
                                                <a class="link-item" href="#">#travel</a>
                                            </li>
                                            <li class="list-items">
                                                <a class="link-item" href="#">#architecture</a>
                                            </li>
                                        </ul>
                                    </div>
                                </header>
                                <div class="banner-content">
                                    <button class="btn btn-primary">Contactez-moi</button>
                                </div>           
                            </div>
                            <div class="column-right">
                                <figure>
                                    <picture>
                                        <source media="(max-width: 640px)" srcset="../public/images/photographers-id/mobile/MarcelNikolic-mobile.jpg">
                                        <source media="(max-width: 1080px)" srcset="../public/images/photographers-id/tablet/MarcelNikolic-tablet.jpg">
                                        <source media="(max-width: 1438px)" srcset="../public/images/photographers-id/laptop/MarcelNikolic-laptop.jpg">
                                        <source media="(min-width: 1439px)" srcset="../public/images/photographers-id/desktop/MarcelNikolic-desktop.jpg">
                                        <img class="image" src="../public/images/photographers-id/desktop/MarcelNikolic-desktop.jpg" alt="Marcel Nikolic" />     
                                    </picture>  
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section-gallery-images" aria-label="gallery images photographer">
                <div class="filter">
                    <span class="text-filter">Trier par</span>
                    <select class="select">
                        <option class="option" value="1">Popularity</option>
                        <option class="option" value="2">Date</option>
                        <option class="option" value="3">Titre</option>
                    </select>
                </div>
                
                <div class="gallery-container">
                    <article class="gallery-card">
                        <figure class="card-figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/marcel-nikolic/mobile/Travel_Tower-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/marcel-nikolic/tablet/Travel_Tower-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/marcel-nikolic/laptop/Travel_Tower-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/marcel-nikolic/desktop/Travel_Tower-desktop.jpg">
                                <img class="card-image" src="../public/images/gallery/marcel-nikolic/desktop/Travel_Tower-desktop.jpg" alt="" />
                            </picture>
                            <figcaption>
                                <h2 class="card-title">Japanese Tower, Kyoto</h2>
                                <div class="card-likes">
                                    <span class="likes" aria-label="likes">25</span>
                                    <i class="fa-2x fa-heart far icon-heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>

                    <article class="gallery-card">
                        <figure class="card-figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/marcel-nikolic/mobile/Travel_SunsetonCanals-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/marcel-nikolic/tablet/Travel_SunsetonCanals-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/marcel-nikolic/laptop/Travel_SunsetonCanals-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/marcel-nikolic/desktop/Travel_SunsetonCanals-desktop.jpg">
                                <img class="card-image" src="../public/images/gallery/marcel-nikolic/desktop/Travel_SunsetonCanals-desktop.jpg" alt="" />
                            </picture>
                            <figcaption>
                                <h2 class="card-title">Senset on Canals, Venice</h2>
                                <div class="card-likes">
                                    <span class="likes" aria-label="likes">53</span>
                                    <i class="fa-2x fa-heart far icon-heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>

                    <article class="gallery-card">
                        <figure class="card-figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/marcel-nikolic/mobile/Travel_OpenMountain-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/marcel-nikolic/tablet/Travel_OpenMountain-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/marcel-nikolic/laptop/Travel_OpenMountain-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/marcel-nikolic/desktop/Travel_OpenMountain-desktop.jpg">
                                <img class="card-image" src="../public/images/gallery/marcel-nikolic/desktop/Travel_OpenMountain-desktop.jpg" alt="" />
                            </picture>
                            <figcaption>
                                <h2 class="card-title">Mountain and Lake</h2>
                                <div class="card-likes">
                                    <span class="likes" aria-label="likes">33</span>
                                    <i class="fa-2x fa-heart far icon-heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>

                    <article class="gallery-card">
                        <figure class="card-figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/marcel-nikolic/mobile/Travel_Bike_and_Stair-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/marcel-nikolic/tablet/Travel_Bike_and_Stair-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/marcel-nikolic/laptop/Travel_Bike_and_Stair-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/marcel-nikolic/desktop/Travel_Bike_and_Stair-desktop.jpg">
                                <img class="card-image" src="../public/images/gallery/marcel-nikolic/desktop/Travel_Bike_and_Stair-desktop.jpg" alt="" />
                            </picture>
                            <figcaption>
                                <h2 class="card-title">City Bike and Stair, Paris</h2>
                                <div class="card-likes">
                                    <span class="likes" aria-label="likes">53</span>
                                    <i class="fa-2x fa-heart far icon-heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>

                    <article class="gallery-card">
                        <figure class="card-figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/marcel-nikolic/mobile/Travel__Adventure_Door-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/marcel-nikolic/tablet/Travel__Adventure_Door-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/marcel-nikolic/laptop/Travel__Adventure_Door-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/marcel-nikolic/desktop/Travel__Adventure_Door-desktop.jpg">
                                <img class="card-image" src="../public/images/gallery/marcel-nikolic/desktop/Travel__Adventure_Door-desktop.jpg" alt="" />
                            </picture>
                            <figcaption>
                                <h2 class="card-title">Adventure Door, India</h2>
                                <div class="card-likes">
                                    <span class="likes" aria-label="likes">63</span>
                                    <i class="fa-2x fa-heart far icon-heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>

                    <article class="gallery-card">
                        <figure class="card-figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/marcel-nikolic/mobile/Architecure_Contrast-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/marcel-nikolic/tablet/Architecure_Contrast-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/marcel-nikolic/laptop/Architecure_Contrast-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/marcel-nikolic/desktop/Architecure_Contrast-desktop.jpg">
                                <img class="card-image" src="../public/images/gallery/marcel-nikolic/desktop/Architecure_Contrast-desktop.jpg" alt="" />
                            </picture>
                            <figcaption>
                                <h2 class="card-title">Contrast, St Petersburg</h2>
                                <div class="card-likes">
                                    <span class="likes" aria-label="likes">52</span>
                                    <i class="fa-2x fa-heart far icon-heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>

                    <article class="gallery-card">
                        <figure class="card-figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/marcel-nikolic/mobile/Architecture_On_a_hill-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/marcel-nikolic/tablet/Architecture_On_a_hill-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/marcel-nikolic/laptop/Architecture_On_a_hill-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/marcel-nikolic/desktop/Architecture_On_a_hill-desktop.jpg">
                                <img class="card-image" src="../public/images/gallery/marcel-nikolic/desktop/Architecture_On_a_hill-desktop.jpg" alt="" />
                            </picture>
                            <figcaption>
                                <h2 class="card-title">On a Hill, Tibet</h2>
                                <div class="card-likes">
                                    <span class="likes" aria-label="likes">63</span>
                                    <i class="fa-2x fa-heart far icon-heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>

                    <article class="gallery-card">
                        <figure class="card-figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/marcel-nikolic/mobile/Architecture_Dome-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/marcel-nikolic/tablet/Architecture_Dome-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/marcel-nikolic/laptop/Architecture_Dome-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/marcel-nikolic/desktop/Architecture_Dome-desktop.jpg">
                                <img class="card-image" src="../public/images/gallery/marcel-nikolic/desktop/Architecture_Dome-desktop.jpg" alt="" />
                            </picture>
                            <figcaption>
                                <h2 class="card-title">Leaning Tower, Pisa</h2>
                                <div class="card-likes">
                                    <span class="likes" aria-label="likes">88</span>
                                    <i class="fa-2x fa-heart far icon-heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>

                    <article class="gallery-card">
                        <figure class="card-figure">
                            <video class="card-video" title="Wild Horses in the Mountains" preload="auto" autoplay controls>
                                <source src="../public/images/gallery/marcel-nikolic/video/Architecture_coverr_circle_empty_highway_in_buenos_aires_587740985637.mp4" type="video/mp4">
                            </video>
                            <figcaption> 
                                <h2 class="card-title">Circle Highways, Buenos Aires</h2>
                                <div class="card-likes">
                                    <span class="likes" aria-label="likes">57</span>
                                    <i class="fa-2x fa-heart far icon-heart"></i>
                                </div>
                            </figcaption>
                        </figure> 
                    </article>

                    <article class="gallery-card">
                        <figure class="card-figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/marcel-nikolic/mobile/Architecture_Corner_Room-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/marcel-nikolic/tablet/Architecture_Corner_Room-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/marcel-nikolic/laptop/Architecture_Corner_Room-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/marcel-nikolic/desktop/Architecture_Corner_Room-desktop.jpg">
                                <img class="card-image" src="../public/images/gallery/marcel-nikolic/desktop/Architecture_Corner_Room-desktop.jpg" alt="" />
                            </picture>
                            <figcaption>
                                <h2 class="card-title">Corner Building and Blue Sky</h2>
                                <div class="card-likes">
                                    <span class="likes" aria-label="likes">54</span>
                                    <i class="fa-2x fa-heart far icon-heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                </div>
            </section>

            <section class="section-contact">
                <div class="modal" role="dialog" aria-labelledby="contact-title">
                    <div class="modal-container">
                        <header class="modal-header">
                            <h1 class="modal-title" id="contact-title">Contactez-moi <br>Marcel Nikolic</h1>
                            <span class="modal-close">&times;</span>
                        </header>
                        <div class="modal-form">
                            <form name="contactForm" action="marcel-nikolic.html" method="get" id="contactForm">
                                <div class="modal-form-group">
                                    <label for="firstname" class="form-label" id="label-firstname">Prénom</label>
                                    <input type="text" name="firstname" id="firstname" class="form-input" aria-labelledby="label-firstname" minlength="2" maxlength="64" required />
                                    <span id="first-error"></span>
                                </div>
                                <div class="modal-form-group">
                                    <label for="lastname" class="form-label" id="label-lastname">Nom</label>
                                    <input type="text" name="lastname" id="lastname" class="form-input" aria-labelledby="label-lastname" minlength="2" maxlength="64" required />
                                    <span id="last-error"></span>
                                </div>
                                <div class="modal-form-group">
                                    <label for="email" class="form-label" id="label-email">Email</label>
                                    <input type="email" name="email" id="email" class="form-input" aria-labelledby="label-email" required />
                                    <span id="email-error"></span>
                                </div>
                                <div class="modal-form-group form-group-textarea">
                                    <label for="message" class="form-label" id="label-message">Votre message</label>
                                    <textarea name="message" id="message" class="form-input" aria-labelledby="label-message" required></textarea>
                                    <span id="message-error"></span>
                                </div>
                                <button class="btn-submit" type="submit">Envoyer</button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>