<!DOCTYPE html>
<html class="no-js" lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit-no" />

        <link rel="stylesheet" href="../public/vendor/fontawesome/css/all.min.css">
        <link rel="stylesheet" href="../public/css/style.css">

        <title>FishEye - Openclassrooms</title>
    </head>

    <body>
        <header role="banner" class="header">
            <a href="../index.html" class="link-image">
                <figure>
                    <img src="https://res.cloudinary.com/dlpyn3wxf/image/upload/v1614078430/logo_mig5no.png" alt="Fisheye Home page" />
                </figure>
            </a>
        </header>
        <main class="main-photographer">
            <section class="section-banner" aria-label="photographer information">
                <div class="banner-info">
                    <div class="container">
                        <div class="row">
                            <div class="column-left">
                                <header id="photographer-1" class="banner-header">
                                    <h1 class="title">Mimi Keel</h1>
                                    <div class="subtitle">
                                        <span class="locations">London, UK</span>
                                    </div>
                                    <div class="description">
                                        <span class="desc">Voir le beau dans le quotidien</span>
                                    </div>
                                    <div class="tags tags-mimi">
                                        <ul class="tags-list">
                                            <li class="list-items">
                                                <a class="link-item" href="#">#portrait</a>
                                            </li>
                                            <li class="list-items">
                                                <a class="link-item" href="#">#events</a>
                                            </li>
                                            <li class="list-items">
                                                <a class="link-item" href="#">#travel</a>
                                            </li>
                                            <li class="list-items">
                                                <a class="link-item" href="#">#animals</a>
                                            </li>
                                        </ul>
                                    </div>
                                </header>
                                <div class="banner-content">
                                    <button class="btn btn-primary">Contactez-moi</button>
                                </div>           
                            </div>
                            <div class="column-right">
                                <figure>
                                    <picture>
                                        <source media="(max-width: 640px)" srcset="../public/images/photographers-id/mobile/MimiKeel-mobile.jpg">
                                        <source media="(max-width: 1080px)" srcset="../public/images/photographers-id/tablet/MimiKeel-tablet.jpg">
                                        <source media="(max-width: 1438px)" srcset="../public/images/photographers-id/laptop/MimiKeel-laptop.jpg">
                                        <source media="(min-width: 1439px)" srcset="../public/images/photographers-id/desktop/MimiKeel-desktop.jpg">
                                        <img class="image" src="../public/images/photographers-id/desktop/MimiKeel-desktop.jpg" alt="Mimi Keel" />     
                                    </picture>   
                                </figure>   
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section-gallery-images" aria-label="gallery images photographer">
                <div class="filter">
                    <span class="text-filter">Trier par</span>
                    <select class="select">
                        <option class="option" value="1">Popularity</option>
                        <option class="option" value="2">Date</option>
                        <option class="option" value="3">Titre</option>
                    </select>
                </div>
                
                <div class="gallery-container">
                    <article class="gallery-card">
                        <figure class="card-figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/mimi-keel/mobile/Travel_Lonesome-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/mimi-keel/tablet/Travel_Lonesome-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/mimi-keel/laptop/Travel_Lonesome-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/mimi-keel/desktop/Travel_Lonesome-desktop.jpg">
                                <img class="card-image" src="../public/images/gallery/mimi-keel/desktop/Travel_Lonesome-desktop.jpg" alt="" />
                            </picture>
                            <figcaption>
                                <h2 class="card-title">Lonesome</h2>
                                <div class="card-likes">
                                    <span class="likes" aria-label="likes">88</span>
                                    <i class="fa-2x fa-heart far icon-heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>

                    <article class="gallery-card">
                        <figure class="card-figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/mimi-keel/mobile/Travel_HillsideColor-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/mimi-keel/tablet/Travel_HillsideColor-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/mimi-keel/laptop/Travel_HillsideColor-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/mimi-keel/desktop/Travel_HillsideColor-desktop.jpg">
                                <img class="card-image" src="../public/images/gallery/mimi-keel/desktop/Travel_HillsideColor-desktop.jpg" alt="" />
                            </picture>
                            <figcaption>
                                <h2 class="card-title">Hillside Color</h2>
                                <div class="card-likes">
                                    <span class="likes" aria-label="likes">85</span>
                                    <i class="fa-2x fa-heart far icon-heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>

                    <article class="gallery-card">
                        <figure class="card-figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/mimi-keel/mobile/Portrait_Wednesday-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/mimi-keel/tablet/Portrait_Wednesday-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/mimi-keel/laptop/Portrait_Wednesday-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/mimi-keel/desktop/Portrait_Wednesday-desktop.jpg">
                                <img class="card-image" src="../public/images/gallery/mimi-keel/desktop/Portrait_Wednesday-desktop.jpg" alt="" />
                            </picture>
                            <figcaption>
                                <h2 class="card-title">Wednesday Potrait</h2>
                                <div class="card-likes">
                                    <span class="likes" aria-label="likes">34</span>
                                    <i class="fa-2x fa-heart far icon-heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>

                    <article class="gallery-card">
                        <figure class="card-figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/mimi-keel/mobile/Portrait_Nora-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/mimi-keel/tablet/Portrait_Nora-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/mimi-keel/laptop/Portrait_Nora-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/mimi-keel/desktop/Portrait_Nora-desktop.jpg">
                                <img class="card-image" src="../public/images/gallery/mimi-keel/desktop/Portrait_Nora-desktop.jpg" alt="" />
                            </picture>
                            <figcaption>
                                <h2 class="card-title">Nora Portrait</h2>
                                <div class="card-likes">
                                    <span class="likes" aria-label="likes">63</span>
                                    <i class="fa-2x fa-heart far icon-heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>

                    <article class="gallery-card">
                        <figure class="card-figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/mimi-keel/mobile/Portrait_Background-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/mimi-keel/tablet/Portrait_Background-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/mimi-keel/laptop/Portrait_Background-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/mimi-keel/desktop/Portrait_Background-desktop.jpg">
                                <img class="card-image" src="../public/images/gallery/mimi-keel/desktop/Portrait_Background-desktop.jpg" alt="" />
                            </picture>
                            <figcaption>
                                <h2 class="card-title">Raw Black Portrait</h2>
                                <div class="card-likes">
                                    <span class="likes" aria-label="likes">55</span>
                                    <i class="fa-2x fa-heart far icon-heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>

                    <article class="gallery-card">
                        <figure class="card-figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/mimi-keel/mobile/Event_SeasideWedding-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/mimi-keel/tablet/Event_SeasideWedding-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/mimi-keel/laptop/Event_SeasideWedding-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/mimi-keel/desktop/Event_SeasideWedding-desktop.jpg">
                                <img class="card-image" src="../public/images/gallery/mimi-keel/desktop/Event_SeasideWedding-desktop.jpg" alt="" />
                            </picture>
                            <figcaption>
                                <h2 class="card-title">Seaside Wedding</h2>
                                <div class="card-likes">
                                    <span class="likes" aria-label="likes">25</span>
                                    <i class="fa-2x fa-heart far icon-heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>

                    <article class="gallery-card">
                        <figure class="card-figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/mimi-keel/mobile/Event_PintoWedding-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/mimi-keel/tablet/Event_PintoWedding-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/mimi-keel/laptop/Event_PintoWedding-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/mimi-keel/desktop/Event_PintoWedding-desktop.jpg">
                                <img class="card-image" src="../public/images/gallery/mimi-keel/desktop/Event_PintoWedding-desktop.jpg" alt="" />
                            </picture>
                            <figcaption>
                                <h2 class="card-title">Boulder Wedding</h2>
                                <div class="card-likes">
                                    <span class="likes" aria-label="likes">52</span>
                                    <i class="fa-2x fa-heart far icon-heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>

                    <article class="gallery-card">
                        <figure class="card-figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/mimi-keel/mobile/Event_BenevidesWedding-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/mimi-keel/tablet/Event_BenevidesWedding-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/mimi-keel/laptop/Event_BenevidesWedding-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/mimi-keel/desktop/Event_BenevidesWedding-desktop.jpg">
                                <img class="card-image" src="../public/images/gallery/mimi-keel/desktop/Event_BenevidesWedding-desktop.jpg" alt="" />
                            </picture>
                            <figcaption>
                                <h2 class="card-title">Benevides Wedding</h2>
                                <div class="card-likes">
                                    <span class="likes" aria-label="likes">77</span>
                                    <i class="fa-2x fa-heart far icon-heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>

                    <article class="gallery-card">
                        <figure class="card-figure">
                            <video class="card-video" title="Wild Horses in the Mountains" preload="auto" autoplay controls>
                                <source src="../public/images/gallery/mimi-keel/video/Animals_Wild_Horses_in_the_mountains.mp4" type="video/mp4">
                            </video>
                            <figcaption> 
                                <h2 class="card-title">Wild Horses in the Mountains</h2>
                                <div class="card-likes">
                                    <span class="likes" aria-label="likes">142</span>
                                    <i class="fa-2x fa-heart far icon-heart"></i>
                                </div>
                            </figcaption>
                        </figure> 
                    </article>

                    <article class="gallery-card">
                        <figure class="card-figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/mimi-keel/mobile/Animals_Rainbow-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/mimi-keel/tablet/Animals_Rainbow-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/mimi-keel/laptop/Animals_Rainbow-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/mimi-keel/desktop/Animals_Rainbow-desktop.jpg">
                                <img class="card-image" src="../public/images/gallery/mimi-keel/desktop/Animals_Rainbow-desktop.jpg" alt="" />
                            </picture>
                            <figcaption>
                                <h2 class="card-title">Rainbow Bird</h2>
                                <div class="card-likes">
                                    <span class="likes" aria-label="likes">59</span>
                                    <i class="fa-2x fa-heart far icon-heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                </div>
            </section>

            <section class="section-contact">
                <div class="modal" role="dialog" aria-labelledby="contact-title">
                    <div class="modal-container">
                        <header class="modal-header">
                            <h1 class="modal-title" id="contact-title">Contactez-moi <br>Mimi Keel</h1>
                            <span class="modal-close">&times;</span>
                        </header>
                        <div class="modal-form">
                            <form name="contactForm" action="mimi-keel.html" method="get" id="contactForm">
                                <div class="modal-form-group">
                                    <label for="firstname" class="form-label" id="label-firstname">Prénom</label>
                                    <input type="text" name="firstname" id="firstname" class="form-input" aria-labelledby="label-firstname" minlength="2" maxlength="64" required />
                                    <span id="first-error"></span>
                                </div>
                                <div class="modal-form-group">
                                    <label for="lastname" class="form-label" id="label-lastname">Nom</label>
                                    <input type="text" name="lastname" id="lastname" class="form-input" aria-labelledby="label-lastname" minlength="2" maxlength="64" required />
                                    <span id="last-error"></span>
                                </div>
                                <div class="modal-form-group">
                                    <label for="email" class="form-label" id="label-email">Email</label>
                                    <input type="email" name="email" id="email" class="form-input" aria-labelledby="label-email" required />
                                    <span id="email-error"></span>
                                </div>
                                <div class="modal-form-group form-group-textarea">
                                    <label for="message" class="form-label" id="label-message">Votre message</label>
                                    <textarea name="message" id="message" class="form-input" aria-labelledby="label-message" required></textarea>
                                    <span id="message-error"></span>
                                </div>
                                <button class="btn-submit" type="submit">Envoyer</button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section-modal-image" aria-label="modal image photographer">
                <div class="carousel">
                    <span class="slider-close">&times;</span>
                    <ul class="slides">
                      <input class="slide-input" type="radio" name="radio-buttons" id="img-1" checked />
                      <li class="slide-container">
                        <article class="slide-article">
                            <figure class="slide-image">
                                <picture>
                                    <source media="(max-width: 640px)" srcset="../public/images/gallery/mimi-keel/mobile/Travel_Lonesome-mobile.jpg">
                                    <source media="(max-width: 1080px)" srcset="../public/images/gallery/mimi-keel/tablet/Travel_Lonesome-tablet.jpg">
                                    <source media="(max-width: 1438px)" srcset="../public/images/gallery/mimi-keel/laptop/Travel_Lonesome-laptop.jpg">
                                    <source media="(min-width: 1439px)" srcset="../public/images/gallery/mimi-keel/desktop/Travel_Lonesome-desktop.jpg">
                                    <img class="image" src="../public/images/gallery/mimi-keel/desktop/Travel_Lonesome-desktop.jpg" alt="" />
                                </picture>
                                <figcaption>
                                    <h2 class="slide-title">Lonesome</h2>
                                </figcaption>
                            </figure>
                        </article>
                        <div class="carousel-controls">
                          <label for="img-10" class="prev-slide">
                            <i class="fas fa-chevron-left"></i>
                          </label>
                          <label for="img-2" class="next-slide">
                            <i class="fas fa-chevron-right"></i>
                          </label>
                        </div>
                      </li>
    
                      <input class="slide-input" type="radio" name="radio-buttons" id="img-2" />
                      <li class="slide-container">
                        <article class="slide-article">
                            <figure class="slide-image">
                                <picture>
                                    <source media="(max-width: 640px)" srcset="../public/images/gallery/mimi-keel/mobile/Travel_HillsideColor-mobile.jpg">
                                    <source media="(max-width: 1080px)" srcset="../public/images/gallery/mimi-keel/tablet/Travel_HillsideColor-tablet.jpg">
                                    <source media="(max-width: 1438px)" srcset="../public/images/gallery/mimi-keel/laptop/Travel_HillsideColor-laptop.jpg">
                                    <source media="(min-width: 1439px)" srcset="../public/images/gallery/mimi-keel/desktop/Travel_HillsideColor-desktop.jpg">
                                    <img class="image" src="../public/images/gallery/mimi-keel/desktop/Travel_HillsideColor-desktop.jpg" alt="" />
                                </picture>
                                <figcaption>
                                    <h2 class="slide-title">Hillside Color</h2>
                                </figcaption>
                            </figure>
                        </article>
                        <div class="carousel-controls">
                          <label for="img-1" class="prev-slide">
                            <i class="fas fa-chevron-left"></i>
                          </label>
                          <label for="img-3" class="next-slide">
                            <i class="fas fa-chevron-right"></i>
                          </label>
                        </div>
                      </li>
    
                      <input class="slide-input" type="radio" name="radio-buttons" id="img-3" />
                      <li class="slide-container">
                        <article class="slide-article">
                            <figure class="slide-image">
                                <picture>
                                    <source media="(max-width: 640px)" srcset="../public/images/gallery/mimi-keel/mobile/Portrait_Wednesday-mobile.jpg">
                                    <source media="(max-width: 1080px)" srcset="../public/images/gallery/mimi-keel/tablet/Portrait_Wednesday-tablet.jpg">
                                    <source media="(max-width: 1438px)" srcset="../public/images/gallery/mimi-keel/laptop/Portrait_Wednesday-laptop.jpg">
                                    <source media="(min-width: 1439px)" srcset="../public/images/gallery/mimi-keel/desktop/Portrait_Wednesday-desktop.jpg">
                                    <img class="image" src="../public/images/gallery/mimi-keel/desktop/Portrait_Wednesday-desktop.jpg" alt="" />
                                </picture>
                                <figcaption>
                                    <h2 class="slide-title">Wednesday Potrait</h2>
                                </figcaption>
                            </figure>
                        </article>
                        <div class="carousel-controls">
                          <label for="img-2" class="prev-slide">
                            <i class="fas fa-chevron-left"></i>
                          </label>
                          <label for="img-4" class="next-slide">
                            <i class="fas fa-chevron-right"></i>
                          </label>
                        </div>
                      </li>
    
                      <input class="slide-input" type="radio" name="radio-buttons" id="img-4" />
                      <li class="slide-container">
                        <article class="slide-article">
                            <figure class="slide-image">
                                <picture>
                                    <source media="(max-width: 640px)" srcset="../public/images/gallery/mimi-keel/mobile/Portrait_Nora-mobile.jpg">
                                    <source media="(max-width: 1080px)" srcset="../public/images/gallery/mimi-keel/tablet/Portrait_Nora-tablet.jpg">
                                    <source media="(max-width: 1438px)" srcset="../public/images/gallery/mimi-keel/laptop/Portrait_Nora-laptop.jpg">
                                    <source media="(min-width: 1439px)" srcset="../public/images/gallery/mimi-keel/desktop/Portrait_Nora-desktop.jpg">
                                    <img class="image" src="../public/images/gallery/mimi-keel/desktop/Portrait_Nora-desktop.jpg" alt="" />
                                </picture>
                                <figcaption>
                                    <h2 class="slide-title">Nora Portrait</h2>
                                </figcaption>
                            </figure>
                        </article>
                        <div class="carousel-controls">
                          <label for="img-3" class="prev-slide">
                            <i class="fas fa-chevron-left"></i>
                          </label>
                          <label for="img-5" class="next-slide">
                            <i class="fas fa-chevron-right"></i>
                          </label>
                        </div>
                      </li>
    
                      <input class="slide-input" type="radio" name="radio-buttons" id="img-5" />
                      <li class="slide-container">
                        <article class="slide-article">
                            <figure class="slide-image">
                                <picture>
                                    <source media="(max-width: 640px)" srcset="../public/images/gallery/mimi-keel/mobile/Portrait_Background-mobile.jpg">
                                    <source media="(max-width: 1080px)" srcset="../public/images/gallery/mimi-keel/tablet/Portrait_Background-tablet.jpg">
                                    <source media="(max-width: 1438px)" srcset="../public/images/gallery/mimi-keel/laptop/Portrait_Background-laptop.jpg">
                                    <source media="(min-width: 1439px)" srcset="../public/images/gallery/mimi-keel/desktop/Portrait_Background-desktop.jpg">
                                    <img class="image" src="../public/images/gallery/mimi-keel/desktop/Portrait_Background-desktop.jpg" alt="" />
                                </picture>
                                <figcaption>
                                    <h2 class="slide-title">Raw Black Portrait</h2>
                                </figcaption>
                            </figure>
                        </article>
                        <div class="carousel-controls">
                          <label for="img-4" class="prev-slide">
                            <i class="fas fa-chevron-left"></i>
                          </label>
                          <label for="img-6" class="next-slide">
                            <i class="fas fa-chevron-right"></i>
                          </label>
                        </div>
                      </li>
    
                      <input class="slide-input" type="radio" name="radio-buttons" id="img-6" />
                      <li class="slide-container">
                        <article class="slide-article">
                            <figure class="slide-image">
                                <picture>
                                    <source media="(max-width: 640px)" srcset="../public/images/gallery/mimi-keel/mobile/Event_SeasideWedding-mobile.jpg">
                                    <source media="(max-width: 1080px)" srcset="../public/images/gallery/mimi-keel/tablet/Event_SeasideWedding-tablet.jpg">
                                    <source media="(max-width: 1438px)" srcset="../public/images/gallery/mimi-keel/laptop/Event_SeasideWedding-laptop.jpg">
                                    <source media="(min-width: 1439px)" srcset="../public/images/gallery/mimi-keel/desktop/Event_SeasideWedding-desktop.jpg">
                                    <img class="image" src="../public/images/gallery/mimi-keel/desktop/Event_SeasideWedding-desktop.jpg" alt="" />
                                </picture>
                                <figcaption>
                                    <h2 class="slide-title">Seaside Wedding</h2>
                                </figcaption>
                            </figure>
                        </article>
                        <div class="carousel-controls">
                          <label for="img-5" class="prev-slide">
                            <i class="fas fa-chevron-left"></i>
                          </label>
                          <label for="img-7" class="next-slide">
                            <i class="fas fa-chevron-right"></i>
                          </label>
                        </div>
                      </li>
    
                      <input class="slide-input" type="radio" name="radio-buttons" id="img-7" />
                      <li class="slide-container">
                        <article class="slide-article">
                            <figure class="slide-image">
                                <picture>
                                    <source media="(max-width: 640px)" srcset="../public/images/gallery/mimi-keel/mobile/Event_PintoWedding-mobile.jpg">
                                    <source media="(max-width: 1080px)" srcset="../public/images/gallery/mimi-keel/tablet/Event_PintoWedding-tablet.jpg">
                                    <source media="(max-width: 1438px)" srcset="../public/images/gallery/mimi-keel/laptop/Event_PintoWedding-laptop.jpg">
                                    <source media="(min-width: 1439px)" srcset="../public/images/gallery/mimi-keel/desktop/Event_PintoWedding-desktop.jpg">
                                    <img class="image" src="../public/images/gallery/mimi-keel/desktop/Event_PintoWedding-desktop.jpg" alt="" />
                                </picture>
                                <figcaption>
                                    <h2 class="slide-title">Boulder Wedding</h2>
                                </figcaption>
                            </figure>
                        </article>
                        <div class="carousel-controls">
                          <label for="img-6" class="prev-slide">
                            <i class="fas fa-chevron-left"></i>
                          </label>
                          <label for="img-8" class="next-slide">
                            <i class="fas fa-chevron-right"></i>
                          </label>
                        </div>
                      </li>
    
                      <input class="slide-input" type="radio" name="radio-buttons" id="img-8" />
                      <li class="slide-container">
                        <article class="slide-article">
                            <figure class="slide-image">
                                <picture>
                                    <source media="(max-width: 640px)" srcset="../public/images/gallery/mimi-keel/mobile/Event_BenevidesWedding-mobile.jpg">
                                    <source media="(max-width: 1080px)" srcset="../public/images/gallery/mimi-keel/tablet/Event_BenevidesWedding-tablet.jpg">
                                    <source media="(max-width: 1438px)" srcset="../public/images/gallery/mimi-keel/laptop/Event_BenevidesWedding-laptop.jpg">
                                    <source media="(min-width: 1439px)" srcset="../public/images/gallery/mimi-keel/desktop/Event_BenevidesWedding-desktop.jpg">
                                    <img class="image" src="../public/images/gallery/mimi-keel/desktop/Event_BenevidesWedding-desktop.jpg" alt="" />
                                </picture>
                                <figcaption>
                                    <h2 class="slide-title">Benevides Wedding</h2>
                                </figcaption>
                            </figure>
                        </article>
                        <div class="carousel-controls">
                          <label for="img-7" class="prev-slide">
                            <i class="fas fa-chevron-left"></i>
                          </label>
                          <label for="img-9" class="next-slide">
                            <i class="fas fa-chevron-right"></i>
                          </label>
                        </div>
                      </li>
    
                      <input class="slide-input" type="radio" name="radio-buttons" id="img-9" />
                      <li class="slide-container">
                        <article class="slide-article">
                            <figure class="slide-video">
                                <video class="video" title="Wild Horses in the Mountains" preload="auto" autoplay controls>
                                    <source src="../public/images/gallery/mimi-keel/video/Animals_Wild_Horses_in_the_mountains.mp4" type="video/mp4">
                                </video>
                                <figcaption> 
                                    <h2 class="slide-title">Wild Horses in the Mountains</h2>
                                </figcaption>
                            </figure> 
                        </article>
                        <div class="carousel-controls">
                          <label for="img-8" class="prev-slide">
                            <i class="fas fa-chevron-left"></i>
                          </label>
                          <label for="img-10" class="next-slide">
                            <i class="fas fa-chevron-right"></i>
                          </label>
                        </div>
                      </li>
    
                      <input class="slide-input" type="radio" name="radio-buttons" id="img-10" />
                      <li class="slide-container">
                        <article class="slide-article">
                            <figure class="slide-image">
                                <picture>
                                    <source media="(max-width: 640px)" srcset="../public/images/gallery/mimi-keel/mobile/Animals_Rainbow-mobile.jpg">
                                    <source media="(max-width: 1080px)" srcset="../public/images/gallery/mimi-keel/tablet/Animals_Rainbow-tablet.jpg">
                                    <source media="(max-width: 1438px)" srcset="../public/images/gallery/mimi-keel/laptop/Animals_Rainbow-laptop.jpg">
                                    <source media="(min-width: 1439px)" srcset="../public/images/gallery/mimi-keel/desktop/Animals_Rainbow-desktop.jpg">
                                    <img class="image" src="../public/images/gallery/mimi-keel/desktop/Animals_Rainbow-desktop.jpg" alt="" />
                                </picture>
                                <figcaption>
                                    <h2 class="slide-title">Rainbow Bird</h2>
                                </figcaption>
                            </figure>
                        </article>
                        <div class="carousel-controls">
                          <label for="img-9" class="prev-slide">
                            <i class="fas fa-chevron-left"></i>
                          </label>
                          <label for="img-1" class="next-slide">
                            <i class="fas fa-chevron-right"></i>
                          </label>
                        </div>
                      </li>
                    </ul>
                  </div>
            </section>
            
        </main>
    </body>
</html>