<!DOCTYPE html>
<html class="no-js" lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit-no" />

        <link rel="stylesheet" href="../public/css/style.css">

        <title>FishEye - Openclassrooms</title>
    </head>

    <body>
        <header role="banner" class="header">
            <a href="../index.html" class="link-image">
                <figure>
                    <img src="https://res.cloudinary.com/dlpyn3wxf/image/upload/v1614078430/logo_mig5no.png" alt="Fisheye Home page" />
                </figure>
            </a>
        </header>
        <main class="main-photographer">
            <section class="section-banner" aria-label="photographer information">
                <div class="banner-info">
                    <div class="container">
                        <div class="row">
                            <div class="column-left">
                                <header id="photographer-1" class="banner-header">
                                    <h1 class="title">Mimi Keel</h1>
                                    <div class="subtitle">
                                        <span class="locations">London, UK</span>
                                    </div>
                                    <div class="description">
                                        <span class="desc">Voir le beau dans le quotidien</span>
                                    </div>
                                    <div class="tags tags-mimi">
                                        <ul class="tags-list">
                                            <li class="list-items">
                                                <a class="link-item" href="#">#portrait</a>
                                            </li>
                                            <li class="list-items">
                                                <a class="link-item" href="#">#events</a>
                                            </li>
                                            <li class="list-items">
                                                <a class="link-item" href="#">#travel</a>
                                            </li>
                                            <li class="list-items">
                                                <a class="link-item" href="#">#animals</a>
                                            </li>
                                        </ul>
                                    </div>
                                </header>
                                <div class="banner-content">
                                    <button class="btn btn-primary">Contactez-moi</button>
                                </div>           
                            </div>
                            <div class="column-right">
                                <figure>
                                    <picture>
                                        <source media="(max-width: 640px)" srcset="../public/images/photographers-id/mobile/MimiKeel-mobile.jpg">
                                        <source media="(max-width: 1080px)" srcset="../public/images/photographers-id/tablet/MimiKeel-tablet.jpg">
                                        <source media="(max-width: 1438px)" srcset="../public/images/photographers-id/laptop/MimiKeel-laptop.jpg">
                                        <source media="(min-width: 1439px)" srcset="../public/images/photographers-id/desktop/MimiKeel-desktop.jpg">
                                        <img class="image" src="../public/images/photographers-id/desktop/MimiKeel-desktop.jpg" alt="Mimi Keel" />     
                                    </picture>   
                                </figure>   
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section-contact">
                <div class="modal" role="dialog" aria-labelledby="contact-title">
                    <div class="modal-container">
                        <header class="modal-header">
                            <h1 class="modal-title" id="contact-title">Contactez-moi <br>Mimi Keel</h1>
                            <span class="modal-close">&times;</span>
                        </header>
                        <div class="modal-form">
                            <form name="contactForm" action="mimi-keel.html" method="get" id="contactForm">
                                <div class="modal-form-group">
                                    <label for="firstname" class="form-label" id="label-firstname">Prénom</label>
                                    <input type="text" name="firstname" id="firstname" class="form-input" aria-labelledby="label-firstname" minlength="2" maxlength="64" required />
                                    <span id="first-error"></span>
                                </div>
                                <div class="modal-form-group">
                                    <label for="lastname" class="form-label" id="label-lastname">Nom</label>
                                    <input type="text" name="lastname" id="lastname" class="form-input" aria-labelledby="label-lastname" minlength="2" maxlength="64" required />
                                    <span id="last-error"></span>
                                </div>
                                <div class="modal-form-group">
                                    <label for="email" class="form-label" id="label-email">Email</label>
                                    <input type="email" name="email" id="email" class="form-input" aria-labelledby="label-email" required />
                                    <span id="email-error"></span>
                                </div>
                                <div class="modal-form-group form-group-textarea">
                                    <label for="message" class="form-label" id="label-message">Votre message</label>
                                    <textarea name="message" id="message" class="form-input" aria-labelledby="label-message" required></textarea>
                                    <span id="message-error"></span>
                                </div>
                                <button class="btn-submit" type="submit">Envoyer</button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>