<!DOCTYPE html>
<html class="no-js" lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit-no" />

        <link rel="stylesheet" href="../public/vendor/fontawesome/css/all.min.css">
        <link rel="stylesheet" href="../public/css/style.css">

        <title>FishEye - Openclassrooms</title>
    </head>

    <body>
        <header role="banner" class="header__photographer">
            <a href="../index.html" class="header__photographer__link__image">
                <figure>
                    <img src="https://res.cloudinary.com/dlpyn3wxf/image/upload/v1614078430/logo_mig5no.png" alt="Fisheye Home page" />
                </figure>
            </a>
        </header>
        <main class="main-photographer">
            <section class="section-banner" aria-label="photographer information">
                <div class="banner">
                    <div class="banner__container">
                        <div class="banner__row">
                            <div class="banner__column__left">
                                <header id="photographer-1" class="banner__header">
                                    <h1 class="banner__title">Mimi Keel</h1>
                                    <div class="banner__subtitle">
                                        <span class="banner__locations">London, UK</span>
                                    </div>
                                    <div class="banner__description">
                                        <span class="banner__desc">Voir le beau dans le quotidien</span>
                                    </div>
                                    <div class="banner__tags banner__tags--mimi">
                                        <ul class="banner__tags__list">
                                            <li class="banner__items">
                                                <a class="banner__link__item" href="#">#portrait</a>
                                            </li>
                                            <li class="banner__items">
                                                <a class="banner__link__item" href="#">#events</a>
                                            </li>
                                            <li class="banner__items">
                                                <a class="banner__link__item" href="#">#travel</a>
                                            </li>
                                            <li class="banner__items">
                                                <a class="banner__link__item" href="#">#animals</a>
                                            </li>
                                        </ul>
                                    </div>
                                </header>
                                <div class="banner__content">
                                    <button class="banner__btn banner__btn--primary">Contactez-moi</button>
                                </div>           
                            </div>
                            <div class="banner__column__right">
                                <figure class="banner__figure">
                                    <picture>
                                        <source media="(max-width: 640px)" srcset="../public/images/photographers-id/mobile/MimiKeel-mobile.jpg">
                                        <source media="(max-width: 1080px)" srcset="../public/images/photographers-id/tablet/MimiKeel-tablet.jpg">
                                        <source media="(max-width: 1438px)" srcset="../public/images/photographers-id/laptop/MimiKeel-laptop.jpg">
                                        <source media="(min-width: 1439px)" srcset="../public/images/photographers-id/desktop/MimiKeel-desktop.jpg">
                                        <img class="banner__image" src="../public/images/photographers-id/desktop/MimiKeel-desktop.jpg" alt="Mimi Keel" />     
                                    </picture>   
                                </figure>   
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section-gallery-images" aria-label="gallery images photographer">
                <div class="filter">
                    <span class="filter__text">Trier par</span>
                    <div class="select">
                        <div class="select__box__container" tabindex="1">
                            <div class="select__box__value">
                                <input class="select__box__input" type="radio" id="0" name="input-option" checked="checked"/>
                                <p class="select__box__input__text">Popularité</p>
                            </div>
                            <div class="select__box__value">
                                <input class="select__box__input" type="radio" id="1" name="input-option"/>
                                <p class="select__box__input__text">Date</p>
                            </div>
                            <div class="select__box__value">
                                <input class="select__box__input" type="radio" id="2" name="input-option"/>
                                <p class="select__box__input__text">Titre</p>
                            </div>
                            <i class="fas fa-chevron-down select__box__icon"></i>
                        </div>
                        <ul class="select__box__list">
                            <li>
                                <label class="select__box__option" for="0">Popularité</label>
                            </li>
                            <li>
                                <label class="select__box__option" for="1">Date</label>
                            </li>
                            <li>
                                <label class="select__box__option" for="2">Titre</label>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <div class="gallery">
                    <article class="gallery__card">
                        <figure class="gallery__card__figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/mimi-keel/mobile/Travel_Lonesome-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/mimi-keel/tablet/Travel_Lonesome-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/mimi-keel/laptop/Travel_Lonesome-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/mimi-keel/desktop/Travel_Lonesome-desktop.jpg">
                                <img class="gallery__card__image" src="../public/images/gallery/mimi-keel/desktop/Travel_Lonesome-desktop.jpg" alt="Lonesome" />
                            </picture>
                            <figcaption class="gallery__card__figcaption">
                                <h2 class="gallery__card__title">Lonesome</h2>
                                <div class="gallery__card__likes">
                                    <span class="gallery__likes" aria-label="likes">88</span>
                                    <i class="fa-2x fa-heart far gallery__icon__heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>

                    <article class="gallery__card">
                        <figure class="gallery__card__figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/mimi-keel/mobile/Travel_HillsideColor-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/mimi-keel/tablet/Travel_HillsideColor-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/mimi-keel/laptop/Travel_HillsideColor-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/mimi-keel/desktop/Travel_HillsideColor-desktop.jpg">
                                <img class="gallery__card__image" src="../public/images/gallery/mimi-keel/desktop/Travel_HillsideColor-desktop.jpg" alt="Hillside Color" />
                            </picture>
                            <figcaption class="gallery__card__figcaption">
                                <h2 class="gallery__card__title">Hillside Color</h2>
                                <div class="gallery__card__likes">
                                    <span class="gallery__likes" aria-label="likes">85</span>
                                    <i class="fa-2x fa-heart far gallery__icon__heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>

                    <article class="gallery__card">
                        <figure class="gallery__card__figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/mimi-keel/mobile/Portrait_Wednesday-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/mimi-keel/tablet/Portrait_Wednesday-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/mimi-keel/laptop/Portrait_Wednesday-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/mimi-keel/desktop/Portrait_Wednesday-desktop.jpg">
                                <img class="gallery__card__image" src="../public/images/gallery/mimi-keel/desktop/Portrait_Wednesday-desktop.jpg" alt="Wednesday Potrait" />
                            </picture>
                            <figcaption class="gallery__card__figcaption">
                                <h2 class="gallery__card__title">Wednesday Potrait</h2>
                                <div class="gallery__card__likes">
                                    <span class="gallery__likes" aria-label="likes">34</span>
                                    <i class="fa-2x fa-heart far gallery__icon__heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>

                    <article class="gallery__card">
                        <figure class="gallery__card__figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/mimi-keel/mobile/Portrait_Nora-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/mimi-keel/tablet/Portrait_Nora-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/mimi-keel/laptop/Portrait_Nora-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/mimi-keel/desktop/Portrait_Nora-desktop.jpg">
                                <img class="gallery__card__image" src="../public/images/gallery/mimi-keel/desktop/Portrait_Nora-desktop.jpg" alt="Nora Portrait" />
                            </picture>
                            <figcaption class="gallery__card__figcaption">
                                <h2 class="gallery__card__title">Nora Portrait</h2>
                                <div class="gallery__card__likes">
                                    <span class="gallery__likes" aria-label="likes">63</span>
                                    <i class="fa-2x fa-heart far gallery__icon__heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>

                    <article class="gallery__card">
                        <figure class="gallery__card__figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/mimi-keel/mobile/Portrait_Background-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/mimi-keel/tablet/Portrait_Background-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/mimi-keel/laptop/Portrait_Background-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/mimi-keel/desktop/Portrait_Background-desktop.jpg">
                                <img class="gallery__card__image" src="../public/images/gallery/mimi-keel/desktop/Portrait_Background-desktop.jpg" alt="Raw Black Portrait" />
                            </picture>
                            <figcaption class="gallery__card__figcaption">
                                <h2 class="gallery__card__title">Raw Black Portrait</h2>
                                <div class="gallery__card__likes">
                                    <span class="gallery__likes" aria-label="likes">55</span>
                                    <i class="fa-2x fa-heart far gallery__icon__heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>

                    <article class="gallery__card">
                        <figure class="gallery__card__figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/mimi-keel/mobile/Event_SeasideWedding-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/mimi-keel/tablet/Event_SeasideWedding-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/mimi-keel/laptop/Event_SeasideWedding-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/mimi-keel/desktop/Event_SeasideWedding-desktop.jpg">
                                <img class="gallery__card__image" src="../public/images/gallery/mimi-keel/desktop/Event_SeasideWedding-desktop.jpg" alt="Seaside Wedding" />
                            </picture>
                            <figcaption class="gallery__card__figcaption">
                                <h2 class="gallery__card__title">Seaside Wedding</h2>
                                <div class="gallery__card__likes">
                                    <span class="gallery__likes" aria-label="likes">25</span>
                                    <i class="fa-2x fa-heart far gallery__icon__heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>

                    <article class="gallery__card">
                        <figure class="gallery__card__figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/mimi-keel/mobile/Event_PintoWedding-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/mimi-keel/tablet/Event_PintoWedding-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/mimi-keel/laptop/Event_PintoWedding-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/mimi-keel/desktop/Event_PintoWedding-desktop.jpg">
                                <img class="gallery__card__image" src="../public/images/gallery/mimi-keel/desktop/Event_PintoWedding-desktop.jpg" alt="Boulder Wedding" />
                            </picture>
                            <figcaption class="gallery__card__figcaption">
                                <h2 class="gallery__card__title">Boulder Wedding</h2>
                                <div class="gallery__card__likes">
                                    <span class="gallery__likes" aria-label="likes">52</span>
                                    <i class="fa-2x fa-heart far gallery__icon__heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>

                    <article class="gallery__card">
                        <figure class="gallery__card__figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/mimi-keel/mobile/Event_BenevidesWedding-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/mimi-keel/tablet/Event_BenevidesWedding-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/mimi-keel/laptop/Event_BenevidesWedding-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/mimi-keel/desktop/Event_BenevidesWedding-desktop.jpg">
                                <img class="gallery__card__image" src="../public/images/gallery/mimi-keel/desktop/Event_BenevidesWedding-desktop.jpg" alt="Benevides Wedding" />
                            </picture>
                            <figcaption class="gallery__card__figcaption">
                                <h2 class="gallery__card__title">Benevides Wedding</h2>
                                <div class="gallery__card__likes">
                                    <span class="gallery__likes" aria-label="likes">77</span>
                                    <i class="fa-2x fa-heart far gallery__icon__heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>

                    <article class="gallery__card">
                        <figure class="gallery__card__figure">
                            <video class="gallery__card__video" title="Wild Horses in the Mountains" preload="auto" autoplay controls>
                                <source src="../public/images/gallery/mimi-keel/video/Animals_Wild_Horses_in_the_mountains.mp4" type="video/mp4">
                            </video>
                            <figcaption class="gallery__card__figcaption"> 
                                <h2 class="gallery__card__title">Wild Horses in the Mountains</h2>
                                <div class="gallery__card__likes">
                                    <span class="gallery__likes" aria-label="likes">142</span>
                                    <i class="fa-2x fa-heart far gallery__icon__heart"></i>
                                </div>
                            </figcaption>
                        </figure> 
                    </article>

                    <article class="gallery__card">
                        <figure class="gallery__card__figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/mimi-keel/mobile/Animals_Rainbow-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/mimi-keel/tablet/Animals_Rainbow-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/mimi-keel/laptop/Animals_Rainbow-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/mimi-keel/desktop/Animals_Rainbow-desktop.jpg">
                                <img class="gallery__card__image" src="../public/images/gallery/mimi-keel/desktop/Animals_Rainbow-desktop.jpg" alt="Rainbow Bird" />
                            </picture>
                            <figcaption class="gallery__card__figcaption">
                                <h2 class="gallery__card__title">Rainbow Bird</h2>
                                <div class="gallery__card__likes">
                                    <span class="gallery__likes" aria-label="likes">59</span>
                                    <i class="fa-2x fa-heart far gallery__icon__heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                </div>
            </section>

            <section class="section-contact">
                <div class="modal" role="dialog" aria-labelledby="contact-title">
                    <div class="modal__container">
                        <header class="modal__header">
                            <h1 class="modal__title" id="contact-title">Contactez-moi <br>Mimi Keel</h1>
                            <span class="modal__close">&times;</span>
                        </header>
                        <div class="modal__form">
                            <form name="contactForm" action="mimi-keel.html" method="get" id="contactForm">
                                <div class="modal__form__group">
                                    <label for="firstname" class="modal__form__label" id="label-firstname">Prénom</label>
                                    <input type="text" name="firstname" id="firstname" class="modal__form__input" aria-labelledby="label-firstname" minlength="2" maxlength="64" required />
                                    <span id="first-error"></span>
                                </div>
                                <div class="modal__form__group">
                                    <label for="lastname" class="modal__form__label" id="label-lastname">Nom</label>
                                    <input type="text" name="lastname" id="lastname" class="modal__form__input" aria-labelledby="label-lastname" minlength="2" maxlength="64" required />
                                    <span id="last-error"></span>
                                </div>
                                <div class="modal__form__group">
                                    <label for="email" class="modal__form__label" id="label-email">Email</label>
                                    <input type="email" name="email" id="email" class="modal__form__input" aria-labelledby="label-email" required />
                                    <span id="email-error"></span>
                                </div>
                                <div class="modal__form__group modal__form__group--textarea">
                                    <label for="message" class="modal__form__label" id="label-message">Votre message</label>
                                    <textarea name="message" id="message" class="modal__form__input modal__form__input--textarea" aria-labelledby="label-message" required></textarea>
                                    <span id="message-error"></span>
                                </div>
                                <button class="modal__btn modal__btn--submit" type="submit">Envoyer</button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section-modal-image" aria-label="modal image photographer">
                <div class="slider" role="dialog" aria-label="image closeup view">
                    <span class="slider__close" role="button" aria-label="close dialog">&times;</span>
                    <ul class="slider__list__item">
                      <li class="slider__item">
                        <input class="slider__input" type="radio" name="radio-buttons" id="img-1" checked />
                        <div class="slider__item__container">
                            <article class="slider__article">
                                <figure class="slider__figure">
                                    <picture>
                                        <source media="(max-width: 640px)" srcset="../public/images/gallery/mimi-keel/mobile/Travel_Lonesome-mobile.jpg">
                                        <source media="(max-width: 1080px)" srcset="../public/images/gallery/mimi-keel/tablet/Travel_Lonesome-tablet.jpg">
                                        <source media="(max-width: 1438px)" srcset="../public/images/gallery/mimi-keel/laptop/Travel_Lonesome-laptop.jpg">
                                        <source media="(min-width: 1439px)" srcset="../public/images/gallery/mimi-keel/desktop/Travel_Lonesome-desktop.jpg">
                                        <img class="slider__image" src="../public/images/gallery/mimi-keel/desktop/Travel_Lonesome-desktop.jpg" alt="Lonesome" />
                                    </picture>
                                    <figcaption>
                                        <h2 class="slider__title">Lonesome</h2>
                                    </figcaption>
                                </figure>
                            </article>
                            <div class="slider__controls">
                              <label for="img-10" class="slider__prev" aria-label="previous image">
                                <i class="fas fa-chevron-left"></i>
                              </label>
                              <label for="img-2" class="slider__next" aria-label="next image">
                                <i class="fas fa-chevron-right"></i>
                              </label>
                            </div>
                        </div>            
                      </li>
                  
                      <li class="slider__item">
                        <input class="slider__input" type="radio" name="radio-buttons" id="img-2" />
                        <div class="slider__item__container">
                            <article class="slider__article">
                                <figure class="slider__figure">
                                    <picture>
                                        <source media="(max-width: 640px)" srcset="../public/images/gallery/mimi-keel/mobile/Travel_HillsideColor-mobile.jpg">
                                        <source media="(max-width: 1080px)" srcset="../public/images/gallery/mimi-keel/tablet/Travel_HillsideColor-tablet.jpg">
                                        <source media="(max-width: 1438px)" srcset="../public/images/gallery/mimi-keel/laptop/Travel_HillsideColor-laptop.jpg">
                                        <source media="(min-width: 1439px)" srcset="../public/images/gallery/mimi-keel/desktop/Travel_HillsideColor-desktop.jpg">
                                        <img class="slider__image" src="../public/images/gallery/mimi-keel/desktop/Travel_HillsideColor-desktop.jpg" alt="Hillside Color" />
                                    </picture>
                                    <figcaption>
                                        <h2 class="slider__title">Hillside Color</h2>
                                    </figcaption>
                                </figure>
                            </article>
                            <div class="slider__controls">
                              <label for="img-1" class="slider__prev" aria-label="previous image">
                                <i class="fas fa-chevron-left"></i>
                              </label>
                              <label for="img-3" class="slider__next" aria-label="next image">
                                <i class="fas fa-chevron-right"></i>
                              </label>
                            </div>
                        </div>            
                      </li>
                
                      <li class="slider__item">
                        <input class="slider__input" type="radio" name="radio-buttons" id="img-3" />
                        <div class="slider__item__container">
                            <article class="slider__article">
                                <figure class="slider__figure">
                                    <picture>
                                        <source media="(max-width: 640px)" srcset="../public/images/gallery/mimi-keel/mobile/Portrait_Wednesday-mobile.jpg">
                                        <source media="(max-width: 1080px)" srcset="../public/images/gallery/mimi-keel/tablet/Portrait_Wednesday-tablet.jpg">
                                        <source media="(max-width: 1438px)" srcset="../public/images/gallery/mimi-keel/laptop/Portrait_Wednesday-laptop.jpg">
                                        <source media="(min-width: 1439px)" srcset="../public/images/gallery/mimi-keel/desktop/Portrait_Wednesday-desktop.jpg">
                                        <img class="slider__image" src="../public/images/gallery/mimi-keel/desktop/Portrait_Wednesday-desktop.jpg" alt="Wednesday Potrait" />
                                    </picture>
                                    <figcaption>
                                        <h2 class="slider__title">Wednesday Potrait</h2>
                                    </figcaption>
                                </figure>
                            </article>
                            <div class="slider__controls">
                              <label for="img-2" class="slider__prev" aria-label="previous image">
                                <i class="fas fa-chevron-left"></i>
                              </label>
                              <label for="img-4" class="slider__next" aria-label="next image">
                                <i class="fas fa-chevron-right"></i>
                              </label>
                            </div>
                        </div>         
                      </li>
                
                      <li class="slider__item">
                        <input class="slider__input" type="radio" name="radio-buttons" id="img-4" />
                        <div class="slider__item__container">
                            <article class="slider__article">
                                <figure class="slider__figure">
                                    <picture>
                                        <source media="(max-width: 640px)" srcset="../public/images/gallery/mimi-keel/mobile/Portrait_Nora-mobile.jpg">
                                        <source media="(max-width: 1080px)" srcset="../public/images/gallery/mimi-keel/tablet/Portrait_Nora-tablet.jpg">
                                        <source media="(max-width: 1438px)" srcset="../public/images/gallery/mimi-keel/laptop/Portrait_Nora-laptop.jpg">
                                        <source media="(min-width: 1439px)" srcset="../public/images/gallery/mimi-keel/desktop/Portrait_Nora-desktop.jpg">
                                        <img class="slider__image" src="../public/images/gallery/mimi-keel/desktop/Portrait_Nora-desktop.jpg" alt="Nora Portrait" />
                                    </picture>
                                    <figcaption>
                                        <h2 class="slider__title">Nora Portrait</h2>
                                    </figcaption>
                                </figure>
                            </article>
                            <div class="slider__controls">
                              <label for="img-3" class="slider__prev" aria-label="previous image">
                                <i class="fas fa-chevron-left"></i>
                              </label>
                              <label for="img-5" class="slider__next" aria-label="next image">
                                <i class="fas fa-chevron-right"></i>
                              </label>
                            </div>
                        </div>
                      </li>
                
                      <li class="slider__item">
                        <input class="slider__input" type="radio" name="radio-buttons" id="img-5" />
                        <div class="slider__item__container">
                            <article class="slider__article">
                                <figure class="slider__figure">
                                    <picture>
                                        <source media="(max-width: 640px)" srcset="../public/images/gallery/mimi-keel/mobile/Portrait_Background-mobile.jpg">
                                        <source media="(max-width: 1080px)" srcset="../public/images/gallery/mimi-keel/tablet/Portrait_Background-tablet.jpg">
                                        <source media="(max-width: 1438px)" srcset="../public/images/gallery/mimi-keel/laptop/Portrait_Background-laptop.jpg">
                                        <source media="(min-width: 1439px)" srcset="../public/images/gallery/mimi-keel/desktop/Portrait_Background-desktop.jpg">
                                        <img class="slider__image" src="../public/images/gallery/mimi-keel/desktop/Portrait_Background-desktop.jpg" alt="Raw Black Portrait" />
                                    </picture>
                                    <figcaption>
                                        <h2 class="slider__title">Raw Black Portrait</h2>
                                    </figcaption>
                                </figure>
                            </article>
                            <div class="slider__controls">
                              <label for="img-4" class="slider__prev" aria-label="previous image">
                                <i class="fas fa-chevron-left"></i>
                              </label>
                              <label for="img-6" class="slider__next" aria-label="next image">
                                <i class="fas fa-chevron-right"></i>
                              </label>
                            </div>
                        </div>
                      </li>
                  
                      <li class="slider__item">
                        <input class="slider__input" type="radio" name="radio-buttons" id="img-6" />
                        <div class="slider__item__container">
                            <article class="slider__article">
                                <figure class="slider__figure">
                                    <picture>
                                        <source media="(max-width: 640px)" srcset="../public/images/gallery/mimi-keel/mobile/Event_SeasideWedding-mobile.jpg">
                                        <source media="(max-width: 1080px)" srcset="../public/images/gallery/mimi-keel/tablet/Event_SeasideWedding-tablet.jpg">
                                        <source media="(max-width: 1438px)" srcset="../public/images/gallery/mimi-keel/laptop/Event_SeasideWedding-laptop.jpg">
                                        <source media="(min-width: 1439px)" srcset="../public/images/gallery/mimi-keel/desktop/Event_SeasideWedding-desktop.jpg">
                                        <img class="slider__image" src="../public/images/gallery/mimi-keel/desktop/Event_SeasideWedding-desktop.jpg" alt="Seaside Wedding" />
                                    </picture>
                                    <figcaption>
                                        <h2 class="slider__title">Seaside Wedding</h2>
                                    </figcaption>
                                </figure>
                            </article>
                            <div class="slider__controls">
                              <label for="img-5" class="slider__prev" aria-label="previous image">
                                <i class="fas fa-chevron-left"></i>
                              </label>
                              <label for="img-7" class="slider__next" aria-label="next image">
                                <i class="fas fa-chevron-right"></i>
                              </label>
                            </div>
                        </div>               
                      </li>
                
                      <li class="slider__item">
                        <input class="slider__input" type="radio" name="radio-buttons" id="img-7" />
                        <div class="slider__item__container">
                            <article class="slider__article">
                                <figure class="slider__figure">
                                    <picture>
                                        <source media="(max-width: 640px)" srcset="../public/images/gallery/mimi-keel/mobile/Event_PintoWedding-mobile.jpg">
                                        <source media="(max-width: 1080px)" srcset="../public/images/gallery/mimi-keel/tablet/Event_PintoWedding-tablet.jpg">
                                        <source media="(max-width: 1438px)" srcset="../public/images/gallery/mimi-keel/laptop/Event_PintoWedding-laptop.jpg">
                                        <source media="(min-width: 1439px)" srcset="../public/images/gallery/mimi-keel/desktop/Event_PintoWedding-desktop.jpg">
                                        <img class="slider__image" src="../public/images/gallery/mimi-keel/desktop/Event_PintoWedding-desktop.jpg" alt="Boulder Wedding" />
                                    </picture>
                                    <figcaption>
                                        <h2 class="slider__title">Boulder Wedding</h2>
                                    </figcaption>
                                </figure>
                            </article>
                            <div class="slider__controls">
                              <label for="img-6" class="slider__prev" aria-label="previous image">
                                <i class="fas fa-chevron-left"></i>
                              </label>
                              <label for="img-8" class="slider__next" aria-label="next image">
                                <i class="fas fa-chevron-right"></i>
                              </label>
                            </div>
                        </div>      
                      </li>
                
                      <li class="slider__item">
                        <input class="slider__input" type="radio" name="radio-buttons" id="img-8" />
                        <div class="slider__item__container">
                            <article class="slider__article">
                                <figure class="slider__figure">
                                    <picture>
                                        <source media="(max-width: 640px)" srcset="../public/images/gallery/mimi-keel/mobile/Event_BenevidesWedding-mobile.jpg">
                                        <source media="(max-width: 1080px)" srcset="../public/images/gallery/mimi-keel/tablet/Event_BenevidesWedding-tablet.jpg">
                                        <source media="(max-width: 1438px)" srcset="../public/images/gallery/mimi-keel/laptop/Event_BenevidesWedding-laptop.jpg">
                                        <source media="(min-width: 1439px)" srcset="../public/images/gallery/mimi-keel/desktop/Event_BenevidesWedding-desktop.jpg">
                                        <img class="slider__image" src="../public/images/gallery/mimi-keel/desktop/Event_BenevidesWedding-desktop.jpg" alt="Benevides Wedding" />
                                    </picture>
                                    <figcaption>
                                        <h2 class="slider__title">Benevides Wedding</h2>
                                    </figcaption>
                                </figure>
                            </article>
                            <div class="slider__controls">
                              <label for="img-7" class="slider__prev" aria-label="previous image">
                                <i class="fas fa-chevron-left"></i>
                              </label>
                              <label for="img-9" class="slider__next" aria-label="next image">
                                <i class="fas fa-chevron-right"></i>
                              </label>
                            </div>
                        </div>        
                      </li>
                
                      <li class="slider__item slider__item--video">
                        <input class="slider__input" type="radio" name="radio-buttons" id="img-9"/>
                        <div class="slider__item__container">
                            <article class="slider__article">
                                <figure class="slider__figure">
                                    <video class="slider__video" title="Wild Horses in the Mountains" preload="auto" autoplay controls>
                                        <source src="../public/images/gallery/mimi-keel/video/Animals_Wild_Horses_in_the_mountains.mp4" type="video/mp4">
                                    </video>
                                    <figcaption> 
                                        <h2 class="slider__title">Wild Horses in the Mountains</h2>
                                    </figcaption>
                                </figure> 
                            </article>
                            <div class="slider__controls">
                              <label for="img-8" class="slider__prev" aria-label="previous image">
                                <i class="fas fa-chevron-left"></i>
                              </label>
                              <label for="img-10" class="slider__next" aria-label="next image">
                                <i class="fas fa-chevron-right"></i>
                              </label>
                            </div>
                        </div>                    
                      </li>

                      <li class="slider__item">
                        <input class="slider__input" type="radio" name="radio-buttons" id="img-10" />
                        <div class="slider__item__container">
                            <article class="slider__article">
                                <figure class="slider__figure">
                                    <picture>
                                        <source media="(max-width: 640px)" srcset="../public/images/gallery/mimi-keel/mobile/Animals_Rainbow-mobile.jpg">
                                        <source media="(max-width: 1080px)" srcset="../public/images/gallery/mimi-keel/tablet/Animals_Rainbow-tablet.jpg">
                                        <source media="(max-width: 1438px)" srcset="../public/images/gallery/mimi-keel/laptop/Animals_Rainbow-laptop.jpg">
                                        <source media="(min-width: 1439px)" srcset="../public/images/gallery/mimi-keel/desktop/Animals_Rainbow-desktop.jpg">
                                        <img class="slider__image" src="../public/images/gallery/mimi-keel/desktop/Animals_Rainbow-desktop.jpg" alt="Rainbow Bird" />
                                    </picture>
                                    <figcaption>
                                        <h2 class="slider__title">Rainbow Bird</h2>
                                    </figcaption>
                                </figure>
                            </article>
                            <div class="slider__controls">
                              <label for="img-9" class="slider__prev" aria-label="previous image">
                                <i class="fas fa-chevron-left"></i>
                              </label>
                              <label for="img-1" class="slider__next" aria-label="next image">
                                <i class="fas fa-chevron-right"></i>
                              </label>
                            </div>
                        </div>   
                      </li>
                    </ul>
                </div>
            </section>
        </main>
        <footer class="footer">
            <div class="footer__column">
                <span class="footer__like">287 081</span>
                <i class="fas fa-heart footer__icon__heart"></i>
            </div>
            <div class="footer__column">
                <span class="footer__price">400€ / jour</span>
            </div>
        </footer>
    </body>
</html>