<!DOCTYPE html>
<html class="no-js" lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit-no" />

        <link rel="stylesheet" href="../public/vendor/fontawesome/css/all.min.css">
        <link rel="stylesheet" href="../public/css/style.css">

        <title>FishEye - Openclassrooms</title>
    </head>

    <body>
        <header role="banner" class="header">
            <a href="../index.html" class="link-image">
                <figure>
                    <img src="https://res.cloudinary.com/dlpyn3wxf/image/upload/v1614078430/logo_mig5no.png" alt="Fisheye Home page" />
                </figure>
            </a>
        </header>
        <main class="main-photographer">
            <section class="section-banner" aria-label="photographer information">
                <div class="banner-info">
                    <div class="container">
                        <div class="row">
                            <div class="column-left">
                                <header id="photographer-4" class="banner-header">
                                    <h1 class="title">Nabeel Bradford</h1>
                                    <div class="subtitle">
                                        <span class="locations">Mexico City, Mexico</span>
                                    </div>
                                    <div class="description">
                                        <span class="desc">Toujours aller de l'avant</span>
                                    </div>
                                    <div class="tags">
                                        <ul class="tags-list">
                                            <li class="list-items">
                                                <a class="link-item" href="#">#travel</a>
                                            </li>
                                            <li class="list-items">
                                                <a class="link-item" href="#">#portrait</a>
                                            </li>
                                        </ul>
                                    </div>
                                </header>
                                <div class="banner-content">
                                    <button class="btn btn-primary">Contactez-moi</button>
                                </div>           
                            </div>
                            <div class="column-right">
                                <figure>
                                    <picture>
                                        <source media="(max-width: 640px)" srcset="../public/images/photographers-id/mobile/NabeelBradford-mobile.jpg">
                                        <source media="(max-width: 1080px)" srcset="../public/images/photographers-id/tablet/NabeelBradford-tablet.jpg">
                                        <source media="(max-width: 1438px)" srcset="../public/images/photographers-id/laptop/NabeelBradford-laptop.jpg">
                                        <source media="(min-width: 1439px)" srcset="../public/images/photographers-id/desktop/NabeelBradford-desktop.jpg">
                                        <img class="image" src="../public/images/photographers-id/desktop/NabeelBradford-desktop.jpg" alt="Nabeel Bradford" />     
                                    </picture>  
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <section class="section-gallery-images" aria-label="gallery images photographer">
                <div class="filter">
                    <span class="text-filter">Trier par</span>
                    <select class="select">
                        <option class="option" value="1">Popularity</option>
                        <option class="option" value="2">Date</option>
                        <option class="option" value="3">Titre</option>
                    </select>
                </div>
                
                <div class="gallery-container">
                    <article class="gallery-card">
                        <figure class="card-figure">
                            <video class="card-video" title="Rock Mountains" preload="auto" autoplay controls>
                                <source src="../public/images/gallery/nabeel-bradford/video/Travel_Rock_Mountains.mp4" type="video/mp4">
                            </video>
                            <figcaption> 
                                <h2 class="card-title">Rock Mountains</h2>
                                <div class="card-likes">
                                    <span class="likes" aria-label="likes">23</span>
                                    <i class="fa-2x fa-heart far icon-heart"></i>
                                </div>
                            </figcaption>
                        </figure> 
                    </article>
            
                    <article class="gallery-card">
                        <figure class="card-figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/nabeel-bradford/mobile/Travel_Outdoor_Baths-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/nabeel-bradford/tablet/Travel_Outdoor_Baths-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/nabeel-bradford/laptop/Travel_Outdoor_Baths-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/nabeel-bradford/desktop/Travel_Outdoor_Baths-desktop.jpg">
                                <img class="card-image" src="../public/images/gallery/nabeel-bradford/desktop/Travel_Outdoor_Baths-desktop.jpg" alt="Outdoor Baths" />
                            </picture>
                            <figcaption>
                                <h2 class="card-title">Outdoor Baths</h2>
                                <div class="card-likes">
                                    <span class="likes" aria-label="likes">101</span>
                                    <i class="fa-2x fa-heart far icon-heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
            
                    <article class="gallery-card">
                        <figure class="card-figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/nabeel-bradford/mobile/Travel_Road_into_Hill-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/nabeel-bradford/tablet/Travel_Road_into_Hill-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/nabeel-bradford/laptop/Travel_Road_into_Hill-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/nabeel-bradford/desktop/Travel_Road_into_Hill-desktop.jpg">
                                <img class="card-image" src="../public/images/gallery/nabeel-bradford/desktop/Travel_Road_into_Hill-desktop.jpg" alt="Road into the Hill" />
                            </picture>
                            <figcaption>
                                <h2 class="card-title">Road into the Hill</h2>
                                <div class="card-likes">
                                    <span class="likes" aria-label="likes">99</span>
                                    <i class="fa-2x fa-heart far icon-heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
            
                    <article class="gallery-card">
                        <figure class="card-figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/nabeel-bradford/mobile/Travel_Bridge_into_Forest-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/nabeel-bradford/tablet/Travel_Bridge_into_Forest-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/nabeel-bradford/laptop/Travel_Bridge_into_Forest-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/nabeel-bradford/desktop/Travel_Bridge_into_Forest-desktop.jpg">
                                <img class="card-image" src="../public/images/gallery/nabeel-bradford/desktop/Travel_Bridge_into_Forest-desktop.jpg" alt="Bridge into the Forest" />
                            </picture>
                            <figcaption>
                                <h2 class="card-title">Bridge into the Forest</h2>
                                <div class="card-likes">
                                    <span class="likes" aria-label="likes">34</span>
                                    <i class="fa-2x fa-heart far icon-heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
            
                    <article class="gallery-card">
                        <figure class="card-figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/nabeel-bradford/mobile/Travel_Boat_Wanderer-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/nabeel-bradford/tablet/Travel_Boat_Wanderer-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/nabeel-bradford/laptop/Travel_Boat_Wanderer-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/nabeel-bradford/desktop/Travel_Boat_Wanderer-desktop.jpg">
                                <img class="card-image" src="../public/images/gallery/nabeel-bradford/desktop/Travel_Boat_Wanderer-desktop.jpg" alt="Boat Wonderer" />
                            </picture>
                            <figcaption>
                                <h2 class="card-title">Boat Wonderer</h2>
                                <div class="card-likes">
                                    <span class="likes" aria-label="likes">23</span>
                                    <i class="fa-2x fa-heart far icon-heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
            
                    <article class="gallery-card">
                        <figure class="card-figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/nabeel-bradford/mobile/Portrait_Sunkissed-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/nabeel-bradford/tablet/Portrait_Sunkissed-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/nabeel-bradford/laptop/Portrait_Sunkissed-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/nabeel-bradford/desktop/Portrait_Sunkissed-desktop.jpg">
                                <img class="card-image" src="../public/images/gallery/nabeel-bradford/desktop/Portrait_Sunkissed-desktop.jpg" alt="Portrait Sunkiss" />
                            </picture>
                            <figcaption>
                                <h2 class="card-title">Portrait Sunkiss</h2>
                                <div class="card-likes">
                                    <span class="likes" aria-label="likes">66</span>
                                    <i class="fa-2x fa-heart far icon-heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
            
                    <article class="gallery-card">
                        <figure class="card-figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/nabeel-bradford/mobile/Portrait_Shaw-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/nabeel-bradford/tablet/Portrait_Shaw-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/nabeel-bradford/laptop/Portrait_Shaw-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/nabeel-bradford/desktop/Portrait_Shaw-desktop.jpg">
                                <img class="card-image" src="../public/images/gallery/nabeel-bradford/desktop/Portrait_Shaw-desktop.jpg" alt="Shaw Potrait" />
                            </picture>
                            <figcaption>
                                <h2 class="card-title">Shaw Potrait</h2>
                                <div class="card-likes">
                                    <span class="likes" aria-label="likes">52</span>
                                    <i class="fa-2x fa-heart far icon-heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
            
                    <article class="gallery-card">
                        <figure class="card-figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/nabeel-bradford/mobile/Portrait_Alexandra-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/nabeel-bradford/tablet/Portrait_Alexandra-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/nabeel-bradford/laptop/Portrait_Alexandra-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/nabeel-bradford/desktop/Portrait_Alexandra-desktop.jpg">
                                <img class="card-image" src="../public/images/gallery/nabeel-bradford/desktop/Portrait_Alexandra-desktop.jpg" alt="Alexandra" />
                            </picture>
                            <figcaption>
                                <h2 class="card-title">Alexandra</h2>
                                <div class="card-likes">
                                    <span class="likes" aria-label="likes">95</span>
                                    <i class="fa-2x fa-heart far icon-heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
            
                    <article class="gallery-card">
                        <figure class="card-figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/nabeel-bradford/mobile/Portrait_AfternoonBreak-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/nabeel-bradford/tablet/Portrait_AfternoonBreak-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/nabeel-bradford/laptop/Portrait_AfternoonBreak-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/nabeel-bradford/desktop/Portrait_AfternoonBreak-desktop.jpg">
                                <img class="card-image" src="../public/images/gallery/nabeel-bradford/desktop/Portrait_AfternoonBreak-desktop.jpg" alt="Afternoon Break" />
                            </picture>
                            <figcaption>
                                <h2 class="card-title">Afternoon Break</h2>
                                <div class="card-likes">
                                    <span class="likes" aria-label="likes">25</span>
                                    <i class="fa-2x fa-heart far icon-heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                </div>
            </section>
            
            <section class="section-contact">
                <div class="modal" role="dialog" aria-labelledby="contact-title">
                    <div class="modal-container">
                        <header class="modal-header">
                            <h1 class="modal-title" id="contact-title">Contactez-moi <br>Nabeel Bradford</h1>
                            <span class="modal-close">&times;</span>
                        </header>
                        <div class="modal-form">
                            <form name="contactForm" action="nabeel-bradford.html" method="get" id="contactForm">
                                <div class="modal-form-group">
                                    <label for="firstname" class="form-label" id="label-firstname">Prénom</label>
                                    <input type="text" name="firstname" id="firstname" class="form-input" aria-labelledby="label-firstname" minlength="2" maxlength="64" required />
                                    <span id="first-error"></span>
                                </div>
                                <div class="modal-form-group">
                                    <label for="lastname" class="form-label" id="label-lastname">Nom</label>
                                    <input type="text" name="lastname" id="lastname" class="form-input" aria-labelledby="label-lastname" minlength="2" maxlength="64" required />
                                    <span id="last-error"></span>
                                </div>
                                <div class="modal-form-group">
                                    <label for="email" class="form-label" id="label-email">Email</label>
                                    <input type="email" name="email" id="email" class="form-input" aria-labelledby="label-email" required />
                                    <span id="email-error"></span>
                                </div>
                                <div class="modal-form-group form-group-textarea">
                                    <label for="message" class="form-label" id="label-message">Votre message</label>
                                    <textarea name="message" id="message" class="form-input" aria-labelledby="label-message" required></textarea>
                                    <span id="message-error"></span>
                                </div>
                                <button class="btn-submit" type="submit">Envoyer</button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section-modal-image" aria-label="modal image photographer">
                <div class="slider" role="dialog" aria-label="image closeup view">
                    <span class="slider__close" role="button" aria-label="close dialog">&times;</span>
                    <ul class="slider__list__item">
                      <li class="slider__item slider__item--video">
                        <input class="slider__input" type="radio" name="radio-buttons" id="img-1" checked />
                        <div class="slider__item__container">
                            <article class="slider__article">
                                <figure class="slider__figure">
                                    <video class="slider__video" title="Rock Mountains" preload="auto" autoplay controls>
                                        <source src="../public/images/gallery/nabeel-bradford/video/Travel_Rock_Mountains.mp4" type="video/mp4">
                                    </video>
                                    <figcaption> 
                                        <h2 class="slider__title">Rock Mountains</h2>
                                    </figcaption>
                                </figure> 
                            </article>
                            <div class="slider__controls">
                              <label for="img-9" class="slider__prev" aria-label="previous image">
                                <i class="fas fa-chevron-left"></i>
                              </label>
                              <label for="img-2" class="slider__next" aria-label="next image">
                                <i class="fas fa-chevron-right"></i>
                              </label>
                            </div>
                        </div>            
                      </li>
                  
                      <li class="slider__item">
                        <input class="slider__input" type="radio" name="radio-buttons" id="img-2" />
                        <div class="slider__item__container">
                            <article class="slider__article">
                                <figure class="slider__figure">
                                    <picture>
                                        <source media="(max-width: 640px)" srcset="../public/images/gallery/nabeel-bradford/mobile/Travel_Outdoor_Baths-mobile.jpg">
                                        <source media="(max-width: 1080px)" srcset="../public/images/gallery/nabeel-bradford/tablet/Travel_Outdoor_Baths-tablet.jpg">
                                        <source media="(max-width: 1438px)" srcset="../public/images/gallery/nabeel-bradford/laptop/Travel_Outdoor_Baths-laptop.jpg">
                                        <source media="(min-width: 1439px)" srcset="../public/images/gallery/nabeel-bradford/desktop/Travel_Outdoor_Baths-desktop.jpg">
                                        <img class="slider__image" src="../public/images/gallery/nabeel-bradford/desktop/Travel_Outdoor_Baths-desktop.jpg" alt="Outdoor Baths" />
                                    </picture>
                                    <figcaption>
                                        <h2 class="slider__title">Outdoor Baths</h2>
                                    </figcaption>
                                </figure>
                            </article>
                            <div class="slider__controls">
                              <label for="img-1" class="slider__prev" aria-label="previous image">
                                <i class="fas fa-chevron-left"></i>
                              </label>
                              <label for="img-3" class="slider__next" aria-label="next image">
                                <i class="fas fa-chevron-right"></i>
                              </label>
                            </div>
                        </div>            
                      </li>
                
                      <li class="slider__item">
                        <input class="slider__input" type="radio" name="radio-buttons" id="img-3" />
                        <div class="slider__item__container">
                            <article class="slider__article">
                                <figure class="slider__figure">
                                    <picture>
                                        <source media="(max-width: 640px)" srcset="../public/images/gallery/nabeel-bradford/mobile/Travel_Road_into_Hill-mobile.jpg">
                                        <source media="(max-width: 1080px)" srcset="../public/images/gallery/nabeel-bradford/tablet/Travel_Road_into_Hill-tablet.jpg">
                                        <source media="(max-width: 1438px)" srcset="../public/images/gallery/nabeel-bradford/laptop/Travel_Road_into_Hill-laptop.jpg">
                                        <source media="(min-width: 1439px)" srcset="../public/images/gallery/nabeel-bradford/desktop/Travel_Road_into_Hill-desktop.jpg">
                                        <img class="slider__image" src="../public/images/gallery/nabeel-bradford/desktop/Travel_Road_into_Hill-desktop.jpg" alt="Road into the Hill" />
                                    </picture>
                                    <figcaption>
                                        <h2 class="slider__title">Road into the Hill</h2>
                                    </figcaption>
                                </figure>
                            </article>
                            <div class="slider__controls">
                              <label for="img-2" class="slider__prev" aria-label="previous image">
                                <i class="fas fa-chevron-left"></i>
                              </label>
                              <label for="img-4" class="slider__next" aria-label="next image">
                                <i class="fas fa-chevron-right"></i>
                              </label>
                            </div>
                        </div>         
                      </li>
                
                      <li class="slider__item">
                        <input class="slider__input" type="radio" name="radio-buttons" id="img-4" />
                        <div class="slider__item__container">
                            <article class="slider__article">
                                <figure class="slider__figure">
                                    <picture>
                                        <source media="(max-width: 640px)" srcset="../public/images/gallery/nabeel-bradford/mobile/Travel_Bridge_into_Forest-mobile.jpg">
                                        <source media="(max-width: 1080px)" srcset="../public/images/gallery/nabeel-bradford/tablet/Travel_Bridge_into_Forest-tablet.jpg">
                                        <source media="(max-width: 1438px)" srcset="../public/images/gallery/nabeel-bradford/laptop/Travel_Bridge_into_Forest-laptop.jpg">
                                        <source media="(min-width: 1439px)" srcset="../public/images/gallery/nabeel-bradford/desktop/Travel_Bridge_into_Forest-desktop.jpg">
                                        <img class="slider__image" src="../public/images/gallery/nabeel-bradford/desktop/Travel_Bridge_into_Forest-desktop.jpg" alt="Bridge into the Forest" />
                                    </picture>
                                    <figcaption>
                                        <h2 class="slider__title">Bridge into the Forest</h2>
                                    </figcaption>
                                </figure>
                            </article>
                            <div class="slider__controls">
                              <label for="img-3" class="slider__prev" aria-label="previous image">
                                <i class="fas fa-chevron-left"></i>
                              </label>
                              <label for="img-5" class="slider__next" aria-label="next image">
                                <i class="fas fa-chevron-right"></i>
                              </label>
                            </div>
                        </div>
                      </li>
                
                      <li class="slider__item">
                        <input class="slider__input" type="radio" name="radio-buttons" id="img-5" />
                        <div class="slider__item__container">
                            <article class="slider__article">
                                <figure class="slider__figure">
                                    <picture>
                                        <source media="(max-width: 640px)" srcset="../public/images/gallery/nabeel-bradford/mobile/Travel_Boat_Wanderer-mobile.jpg">
                                        <source media="(max-width: 1080px)" srcset="../public/images/gallery/nabeel-bradford/tablet/Travel_Boat_Wanderer-tablet.jpg">
                                        <source media="(max-width: 1438px)" srcset="../public/images/gallery/nabeel-bradford/laptop/Travel_Boat_Wanderer-laptop.jpg">
                                        <source media="(min-width: 1439px)" srcset="../public/images/gallery/nabeel-bradford/desktop/Travel_Boat_Wanderer-desktop.jpg">
                                        <img class="slider__image" src="../public/images/gallery/nabeel-bradford/desktop/Travel_Boat_Wanderer-desktop.jpg" alt="Boat Wonderer" />
                                    </picture>
                                    <figcaption>
                                        <h2 class="slider__title">Boat Wonderer</h2>
                                    </figcaption>
                                </figure>
                            </article>
                            <div class="slider__controls">
                              <label for="img-4" class="slider__prev" aria-label="previous image">
                                <i class="fas fa-chevron-left"></i>
                              </label>
                              <label for="img-6" class="slider__next" aria-label="next image">
                                <i class="fas fa-chevron-right"></i>
                              </label>
                            </div>
                        </div>
                      </li>
                  
                      <li class="slider__item">
                        <input class="slider__input" type="radio" name="radio-buttons" id="img-6" />
                        <div class="slider__item__container">
                            <article class="slider__article">
                                <figure class="slider__figure">
                                    <picture>
                                        <source media="(max-width: 640px)" srcset="../public/images/gallery/nabeel-bradford/mobile/Portrait_Sunkissed-mobile.jpg">
                                        <source media="(max-width: 1080px)" srcset="../public/images/gallery/nabeel-bradford/tablet/Portrait_Sunkissed-tablet.jpg">
                                        <source media="(max-width: 1438px)" srcset="../public/images/gallery/nabeel-bradford/laptop/Portrait_Sunkissed-laptop.jpg">
                                        <source media="(min-width: 1439px)" srcset="../public/images/gallery/nabeel-bradford/desktop/Portrait_Sunkissed-desktop.jpg">
                                        <img class="slider__image" src="../public/images/gallery/nabeel-bradford/desktop/Portrait_Sunkissed-desktop.jpg" alt="Portrait Sunkiss" />
                                    </picture>
                                    <figcaption>
                                        <h2 class="slider__title">Portrait Sunkiss</h2>
                                    </figcaption>
                                </figure>
                            </article>
                            <div class="slider__controls">
                              <label for="img-5" class="slider__prev" aria-label="previous image">
                                <i class="fas fa-chevron-left"></i>
                              </label>
                              <label for="img-7" class="slider__next" aria-label="next image">
                                <i class="fas fa-chevron-right"></i>
                              </label>
                            </div>
                        </div>               
                      </li>
                
                      <li class="slider__item">
                        <input class="slider__input" type="radio" name="radio-buttons" id="img-7" />
                        <div class="slider__item__container">
                            <article class="slider__article">
                                <figure class="slider__figure">
                                    <picture>
                                        <source media="(max-width: 640px)" srcset="../public/images/gallery/nabeel-bradford/mobile/Portrait_Shaw-mobile.jpg">
                                        <source media="(max-width: 1080px)" srcset="../public/images/gallery/nabeel-bradford/tablet/Portrait_Shaw-tablet.jpg">
                                        <source media="(max-width: 1438px)" srcset="../public/images/gallery/nabeel-bradford/laptop/Portrait_Shaw-laptop.jpg">
                                        <source media="(min-width: 1439px)" srcset="../public/images/gallery/nabeel-bradford/desktop/Portrait_Shaw-desktop.jpg">
                                        <img class="slider__image" src="../public/images/gallery/nabeel-bradford/desktop/Portrait_Shaw-desktop.jpg" alt="Shaw Potrait" />
                                    </picture>
                                    <figcaption>
                                        <h2 class="slider__title">Shaw Potrait</h2>
                                    </figcaption>
                                </figure>
                            </article>
                            <div class="slider__controls">
                              <label for="img-6" class="slider__prev" aria-label="previous image">
                                <i class="fas fa-chevron-left"></i>
                              </label>
                              <label for="img-8" class="slider__next" aria-label="next image">
                                <i class="fas fa-chevron-right"></i>
                              </label>
                            </div>
                        </div>      
                      </li>
                
                      <li class="slider__item">
                        <input class="slider__input" type="radio" name="radio-buttons" id="img-8" />
                        <div class="slider__item__container">
                            <article class="slider__article">
                                <figure class="slider__figure">
                                    <picture>
                                        <source media="(max-width: 640px)" srcset="../public/images/gallery/nabeel-bradford/mobile/Portrait_Alexandra-mobile.jpg">
                                        <source media="(max-width: 1080px)" srcset="../public/images/gallery/nabeel-bradford/tablet/Portrait_Alexandra-tablet.jpg">
                                        <source media="(max-width: 1438px)" srcset="../public/images/gallery/nabeel-bradford/laptop/Portrait_Alexandra-laptop.jpg">
                                        <source media="(min-width: 1439px)" srcset="../public/images/gallery/nabeel-bradford/desktop/Portrait_Alexandra-desktop.jpg">
                                        <img class="slider__image" src="../public/images/gallery/nabeel-bradford/desktop/Portrait_Alexandra-desktop.jpg" alt="Alexandra" />
                                    </picture>
                                    <figcaption>
                                        <h2 class="slider__title">Alexandra</h2>
                                    </figcaption>
                                </figure>
                            </article>
                            <div class="slider__controls">
                              <label for="img-7" class="slider__prev" aria-label="previous image">
                                <i class="fas fa-chevron-left"></i>
                              </label>
                              <label for="img-9" class="slider__next" aria-label="next image">
                                <i class="fas fa-chevron-right"></i>
                              </label>
                            </div>
                        </div>        
                      </li>
                
                      <li class="slider__item">
                        <input class="slider__input" type="radio" name="radio-buttons" id="img-9"/>
                        <div class="slider__item__container">
                            <article class="slider__article">
                                <figure class="slider__figure">
                                    <picture>
                                        <source media="(max-width: 640px)" srcset="../public/images/gallery/nabeel-bradford/mobile/Portrait_AfternoonBreak-mobile.jpg">
                                        <source media="(max-width: 1080px)" srcset="../public/images/gallery/nabeel-bradford/tablet/Portrait_AfternoonBreak-tablet.jpg">
                                        <source media="(max-width: 1438px)" srcset="../public/images/gallery/nabeel-bradford/laptop/Portrait_AfternoonBreak-laptop.jpg">
                                        <source media="(min-width: 1439px)" srcset="../public/images/gallery/nabeel-bradford/desktop/Portrait_AfternoonBreak-desktop.jpg">
                                        <img class="slider__image" src="../public/images/gallery/nabeel-bradford/desktop/Portrait_AfternoonBreak-desktop.jpg" alt="Afternoon Break" />
                                    </picture>
                                    <figcaption>
                                        <h2 class="slider__title">Afternoon Break</h2>
                                    </figcaption>
                                </figure>
                            </article>
                            <div class="slider__controls">
                              <label for="img-8" class="slider__prev" aria-label="previous image">
                                <i class="fas fa-chevron-left"></i>
                              </label>
                              <label for="img-1" class="slider__next" aria-label="next image">
                                <i class="fas fa-chevron-right"></i>
                              </label>
                            </div>
                        </div>                    
                      </li>
                    </ul>
                </div>
            </section>
        </main>
        <footer class="footer">
            <div class="footer__column">
                <span class="footer__like">287 081</span>
                <i class="fas fa-heart footer__icon__heart"></i>
            </div>
            <div class="footer__column">
                <span class="footer__price">350€ / jour</span>
            </div>
        </footer>
    </body>
</html>