<!DOCTYPE html>
<html class="no-js" lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit-no" />

        <link rel="stylesheet" href="../public/vendor/fontawesome/css/all.min.css">
        <link rel="stylesheet" href="../public/css/style.css">

        <title>FishEye - Openclassrooms</title>
    </head>

    <body>
        <header role="banner" class="header">
            <a href="../index.html" class="link-image">
                <figure>
                    <img src="https://res.cloudinary.com/dlpyn3wxf/image/upload/v1614078430/logo_mig5no.png" alt="Fisheye Home page" />
                </figure>
            </a>
        </header>
        <main class="main-photographer">
            <section class="section-banner" aria-label="photographer information">
                <div class="banner-info">
                    <div class="container">
                        <div class="row">
                            <div class="column-left">
                                <header id="photographer-5" class="banner-header">
                                    <h1 class="title">Rhode Dubois</h1>
                                    <div class="subtitle">
                                        <span class="locations">Barcelona, Spain</span>
                                    </div>
                                    <div class="description">
                                        <span class="desc">Je crée des souvenirs</span>
                                    </div>
                                    <div class="tags">
                                        <ul class="tags-list">
                                            <li class="list-items">
                                                <a class="link-item" href="#">#sport</a>
                                            </li>
                                            <li class="list-items">
                                                <a class="link-item" href="#">#fashion</a>
                                            </li>
                                            <li class="list-items">
                                                <a class="link-item" href="#">#events</a>
                                            </li>
                                            <li class="list-items">
                                                <a class="link-item" href="#">#animals</a>
                                            </li>
                                        </ul>
                                    </div>
                                </header>
                                <div class="banner-content">
                                    <button class="btn btn-primary">Contactez-moi</button>
                                </div>           
                            </div>
                            <div class="column-right">
                                <figure>
                                    <picture>
                                        <source media="(max-width: 640px)" srcset="../public/images/photographers-id/mobile/RhodeDubois-mobile.jpg">
                                        <source media="(max-width: 1080px)" srcset="../public/images/photographers-id/tablet/RhodeDubois-tablet.jpg">
                                        <source media="(max-width: 1438px)" srcset="../public/images/photographers-id/laptop/RhodeDubois-laptop.jpg">
                                        <source media="(min-width: 1439px)" srcset="../public/images/photographers-id/desktop/RhodeDubois-desktop.jpg">
                                        <img class="image" src="../public/images/photographers-id/desktop/RhodeDubois-desktop.jpg" alt="Rhode Dubois" />     
                                    </picture>  
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section-gallery-images" aria-label="gallery images photographer">
                <div class="filter">
                    <span class="text-filter">Trier par</span>
                    <select class="select">
                        <option class="option" value="1">Popularity</option>
                        <option class="option" value="2">Date</option>
                        <option class="option" value="3">Titre</option>
                    </select>
                </div>
                
                <div class="gallery-container">
                    <article class="gallery-card">
                        <figure class="card-figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/rhode-dubois/mobile/Sport_2000_with_8-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/rhode-dubois/tablet/Sport_2000_with_8-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/rhode-dubois/laptop/Sport_2000_with_8-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/rhode-dubois/desktop/Sport_2000_with_8-desktop.jpg">
                                <img class="card-image" src="../public/images/gallery/rhode-dubois/desktop/Sport_2000_with_8-desktop.jpg" alt="" />
                            </picture>
                            <figcaption>
                                <h2 class="card-title">8 Rows</h2>
                                <div class="card-likes">
                                    <span class="likes" aria-label="likes">52</span>
                                    <i class="fa-2x fa-heart far icon-heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>

                    <article class="gallery-card">
                        <figure class="card-figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/rhode-dubois/mobile/Fashion_Wings-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/rhode-dubois/tablet/Fashion_Wings-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/rhode-dubois/laptop/Fashion_Wings-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/rhode-dubois/desktop/Fashion_Wings-desktop.jpg">
                                <img class="card-image" src="../public/images/gallery/rhode-dubois/desktop/Fashion_Wings-desktop.jpg" alt="" />
                            </picture>
                            <figcaption>
                                <h2 class="card-title">Fashion Wings</h2>
                                <div class="card-likes">
                                    <span class="likes" aria-label="likes">58</span>
                                    <i class="fa-2x fa-heart far icon-heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>

                    <article class="gallery-card">
                        <figure class="card-figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/rhode-dubois/mobile/Fashion_Melody_Red_on_Stripes-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/rhode-dubois/tablet/Fashion_Melody_Red_on_Stripes-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/rhode-dubois/laptop/Fashion_Melody_Red_on_Stripes-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/rhode-dubois/desktop/Fashion_Melody_Red_on_Stripes-desktop.jpg">
                                <img class="card-image" src="../public/images/gallery/rhode-dubois/desktop/Fashion_Melody_Red_on_Stripes-desktop.jpg" alt="" />
                            </picture>
                            <figcaption>
                                <h2 class="card-title">Melody Red on Stripes</h2>
                                <div class="card-likes">
                                    <span class="likes" aria-label="likes">11</span>
                                    <i class="fa-2x fa-heart far icon-heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>

                    <article class="gallery-card">
                        <figure class="card-figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/rhode-dubois/mobile/Event_VentureConference-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/rhode-dubois/tablet/Event_VentureConference-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/rhode-dubois/laptop/Event_VentureConference-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/rhode-dubois/desktop/Event_VentureConference-desktop.jpg">
                                <img class="card-image" src="../public/images/gallery/rhode-dubois/desktop/Event_VentureConference-desktop.jpg" alt="" />
                            </picture>
                            <figcaption>
                                <h2 class="card-title">Venture Conference</h2>
                                <div class="card-likes">
                                    <span class="likes" aria-label="likes">2</span>
                                    <i class="fa-2x fa-heart far icon-heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>

                    <article class="gallery-card">
                        <figure class="card-figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/rhode-dubois/mobile/Event_ProductPitch-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/rhode-dubois/tablet/Event_ProductPitch-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/rhode-dubois/laptop/Event_ProductPitch-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/rhode-dubois/desktop/Event_ProductPitch-desktop.jpg">
                                <img class="card-image" src="../public/images/gallery/rhode-dubois/desktop/Event_ProductPitch-desktop.jpg" alt="" />
                            </picture>
                            <figcaption>
                                <h2 class="card-title">Product Pitch</h2>
                                <div class="card-likes">
                                    <span class="likes" aria-label="likes">3</span>
                                    <i class="fa-2x fa-heart far icon-heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>

                    <article class="gallery-card">
                        <figure class="card-figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/rhode-dubois/mobile/Event_KeyboardCheck-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/rhode-dubois/tablet/Event_KeyboardCheck-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/rhode-dubois/laptop/Event_KeyboardCheck-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/rhode-dubois/desktop/Event_KeyboardCheck-desktop.jpg">
                                <img class="card-image" src="../public/images/gallery/rhode-dubois/desktop/Event_KeyboardCheck-desktop.jpg" alt="" />
                            </picture>
                            <figcaption>
                                <h2 class="card-title">Musical Festival Keyboard</h2>
                                <div class="card-likes">
                                    <span class="likes" aria-label="likes">52</span>
                                    <i class="fa-2x fa-heart far icon-heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>

                    <article class="gallery-card">
                        <figure class="card-figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/rhode-dubois/mobile/Event_Emcee-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/rhode-dubois/tablet/Event_Emcee-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/rhode-dubois/laptop/Event_Emcee-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/rhode-dubois/desktop/Event_Emcee-desktop.jpg">
                                <img class="card-image" src="../public/images/gallery/rhode-dubois/desktop/Event_Emcee-desktop.jpg" alt="" />
                            </picture>
                            <figcaption>
                                <h2 class="card-title">Musical Festival Singer</h2>
                                <div class="card-likes">
                                    <span class="likes" aria-label="likes">23</span>
                                    <i class="fa-2x fa-heart far icon-heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>

                    <article class="gallery-card">
                        <figure class="card-figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/rhode-dubois/mobile/Animals_Majesty-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/rhode-dubois/tablet/Animals_Majesty-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/rhode-dubois/laptop/Animals_Majesty-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/rhode-dubois/desktop/Animals_Majesty-desktop.jpg">
                                <img class="card-image" src="../public/images/gallery/rhode-dubois/desktop/Animals_Majesty-desktop.jpg" alt="" />
                            </picture>
                            <figcaption>
                                <h2 class="card-title">Animal Majesty</h2>
                                <div class="card-likes">
                                    <span class="likes" aria-label="likes">52</span>
                                    <i class="fa-2x fa-heart far icon-heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>

                    <article class="gallery-card">
                        <figure class="card-figure">
                            <video class="card-video" title="Wild Horses in the Mountains" preload="auto" autoplay controls>
                                <source src="../public/images/gallery/rhode-dubois/video/Animals_Puppiness.mp4" type="video/mp4">
                            </video>
                            <figcaption> 
                                <h2 class="card-title">Cute Puppy on Sunset</h2>
                                <div class="card-likes">
                                    <span class="likes" aria-label="likes">52</span>
                                    <i class="fa-2x fa-heart far icon-heart"></i>
                                </div>
                            </figcaption>
                        </figure> 
                    </article>
                </div>
            </section>

            <section class="section-contact">
                <div class="modal" role="dialog" aria-labelledby="contact-title">
                    <div class="modal-container">
                        <header class="modal-header">
                            <h1 class="modal-title" id="contact-title">Contactez-moi <br>Rhode Dubois</h1>
                            <span class="modal-close">&times;</span>
                        </header>
                        <div class="modal-form">
                            <form name="contactForm" action="rhode-dubois.html" method="get" id="contactForm">
                                <div class="modal-form-group">
                                    <label for="firstname" class="form-label" id="label-firstname">Prénom</label>
                                    <input type="text" name="firstname" id="firstname" class="form-input" aria-labelledby="label-firstname" minlength="2" maxlength="64" required />
                                    <span id="first-error"></span>
                                </div>
                                <div class="modal-form-group">
                                    <label for="lastname" class="form-label" id="label-lastname">Nom</label>
                                    <input type="text" name="lastname" id="lastname" class="form-input" aria-labelledby="label-lastname" minlength="2" maxlength="64" required />
                                    <span id="last-error"></span>
                                </div>
                                <div class="modal-form-group">
                                    <label for="email" class="form-label" id="label-email">Email</label>
                                    <input type="email" name="email" id="email" aria-labelledby="label-email" class="form-input" required />
                                    <span id="email-error"></span>
                                </div>
                                <div class="modal-form-group form-group-textarea">
                                    <label for="message" class="form-label" id="label-message">Votre message</label>
                                    <textarea name="message" id="message" class="form-input" aria-labelledby="label-message" required></textarea>
                                    <span id="message-error"></span>
                                </div>
                                <button class="btn-submit" type="submit">Envoyer</button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>