<!DOCTYPE html>
<html class="no-js" lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit-no" />

        <link rel="stylesheet" href="../public/vendor/fontawesome/css/all.min.css">
        <link rel="stylesheet" href="../public/css/style.css">

        <title>FishEye - Openclassrooms</title>
    </head>

    <body>
        <header role="banner" class="header__photographer">
            <a href="../index.html" class="header__photographer__link__image">
                <figure>
                    <img src="https://res.cloudinary.com/dlpyn3wxf/image/upload/v1614078430/logo_mig5no.png" alt="Fisheye Home page" />
                </figure>
            </a>
        </header>
        <main class="main-photographer">
            <section class="section-banner" aria-label="photographer information">
                <div class="banner">
                    <div class="banner__container">
                        <div class="banner__row">
                            <div class="banner__column__left">
                                <header id="photographer-5" class="banner__header">
                                    <h1 class="banner__title">Rhode Dubois</h1>
                                    <div class="banner__subtitle">
                                        <span class="banner__locations">Barcelona, Spain</span>
                                    </div>
                                    <div class="banner__description">
                                        <span class="banner__desc">Je crée des souvenirs</span>
                                    </div>
                                    <div class="banner__tags">
                                        <ul class="banner__tags__list">
                                            <li class="banner__items">
                                                <a class="banner__link__item" href="#">#sport</a>
                                            </li>
                                            <li class="banner__items">
                                                <a class="banner__link__item" href="#">#fashion</a>
                                            </li>
                                            <li class="banner__items">
                                                <a class="banner__link__item" href="#">#events</a>
                                            </li>
                                            <li class="banner__items">
                                                <a class="banner__link__item" href="#">#animals</a>
                                            </li>
                                        </ul>
                                    </div>
                                </header>
                                <div class="banner__content">
                                    <button class="banner__btn banner__btn--primary">Contactez-moi</button>
                                </div>           
                            </div>
                            <div class="banner__column__right">
                                <figure class="banner__figure">
                                    <picture>
                                        <source media="(max-width: 640px)" srcset="../public/images/photographers-id/mobile/RhodeDubois-mobile.jpg">
                                        <source media="(max-width: 1080px)" srcset="../public/images/photographers-id/tablet/RhodeDubois-tablet.jpg">
                                        <source media="(max-width: 1438px)" srcset="../public/images/photographers-id/laptop/RhodeDubois-laptop.jpg">
                                        <source media="(min-width: 1439px)" srcset="../public/images/photographers-id/desktop/RhodeDubois-desktop.jpg">
                                        <img class="banner__image" src="../public/images/photographers-id/desktop/RhodeDubois-desktop.jpg" alt="Rhode Dubois" />     
                                    </picture>  
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <section class="section-gallery-images" aria-label="gallery images photographer">
                <div class="filter">
                    <span class="filter__text">Trier par</span>
                    <select class="filter__select">
                        <option class="filter__select__option" value="1">Popularity</option>
                        <option class="filter__select__option" value="2">Date</option>
                        <option class="filter__select__option" value="3">Titre</option>
                    </select>
                </div>
                
                <div class="gallery">
                    <article class="gallery__card">
                        <figure class="gallery__card__figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/rhode-dubois/mobile/Sport_2000_with_8-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/rhode-dubois/tablet/Sport_2000_with_8-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/rhode-dubois/laptop/Sport_2000_with_8-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/rhode-dubois/desktop/Sport_2000_with_8-desktop.jpg">
                                <img class="gallery__card__image" src="../public/images/gallery/rhode-dubois/desktop/Sport_2000_with_8-desktop.jpg" alt="8 Rows" />
                            </picture>
                            <figcaption class="gallery__card__figcaption">
                                <h2 class="gallery__card__title">8 Rows</h2>
                                <div class="gallery__card__likes">
                                    <span class="gallery__likes" aria-label="likes">52</span>
                                    <i class="fa-2x fa-heart far gallery__icon__heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
            
                    <article class="gallery__card">
                        <figure class="gallery__card__figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/rhode-dubois/mobile/Fashion_Wings-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/rhode-dubois/tablet/Fashion_Wings-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/rhode-dubois/laptop/Fashion_Wings-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/rhode-dubois/desktop/Fashion_Wings-desktop.jpg">
                                <img class="gallery__card__image" src="../public/images/gallery/rhode-dubois/desktop/Fashion_Wings-desktop.jpg" alt="Fashion Wings" />
                            </picture>
                            <figcaption class="gallery__card__figcaption">
                                <h2 class="gallery__card__title">Fashion Wings</h2>
                                <div class="gallery__card__likes">
                                    <span class="gallery__likes" aria-label="likes">58</span>
                                    <i class="fa-2x fa-heart far gallery__icon__heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
            
                    <article class="gallery__card">
                        <figure class="gallery__card__figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/rhode-dubois/mobile/Fashion_Melody_Red_on_Stripes-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/rhode-dubois/tablet/Fashion_Melody_Red_on_Stripes-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/rhode-dubois/laptop/Fashion_Melody_Red_on_Stripes-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/rhode-dubois/desktop/Fashion_Melody_Red_on_Stripes-desktop.jpg">
                                <img class="gallery__card__image" src="../public/images/gallery/rhode-dubois/desktop/Fashion_Melody_Red_on_Stripes-desktop.jpg" alt="Melody Red on Stripes" />
                            </picture>
                            <figcaption class="gallery__card__figcaption">
                                <h2 class="gallery__card__title">Melody Red on Stripes</h2>
                                <div class="gallery__card__likes">
                                    <span class="gallery__likes" aria-label="likes">11</span>
                                    <i class="fa-2x fa-heart far gallery__icon__heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
            
                    <article class="gallery__card">
                        <figure class="gallery__card__figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/rhode-dubois/mobile/Event_VentureConference-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/rhode-dubois/tablet/Event_VentureConference-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/rhode-dubois/laptop/Event_VentureConference-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/rhode-dubois/desktop/Event_VentureConference-desktop.jpg">
                                <img class="gallery__card__image" src="../public/images/gallery/rhode-dubois/desktop/Event_VentureConference-desktop.jpg" alt="Venture Conference" />
                            </picture>
                            <figcaption class="gallery__card__figcaption">
                                <h2 class="gallery__card__title">Venture Conference</h2>
                                <div class="gallery__card__likes">
                                    <span class="gallery__likes" aria-label="likes">2</span>
                                    <i class="fa-2x fa-heart far gallery__icon__heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
            
                    <article class="gallery__card">
                        <figure class="gallery__card__figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/rhode-dubois/mobile/Event_ProductPitch-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/rhode-dubois/tablet/Event_ProductPitch-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/rhode-dubois/laptop/Event_ProductPitch-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/rhode-dubois/desktop/Event_ProductPitch-desktop.jpg">
                                <img class="gallery__card__image" src="../public/images/gallery/rhode-dubois/desktop/Event_ProductPitch-desktop.jpg" alt="Product Pitch" />
                            </picture>
                            <figcaption class="gallery__card__figcaption">
                                <h2 class="gallery__card__title">Product Pitch</h2>
                                <div class="gallery__card__likes">
                                    <span class="gallery__likes" aria-label="likes">3</span>
                                    <i class="fa-2x fa-heart far gallery__icon__heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
            
                    <article class="gallery__card">
                        <figure class="gallery__card__figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/rhode-dubois/mobile/Event_KeyboardCheck-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/rhode-dubois/tablet/Event_KeyboardCheck-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/rhode-dubois/laptop/Event_KeyboardCheck-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/rhode-dubois/desktop/Event_KeyboardCheck-desktop.jpg">
                                <img class="gallery__card__image" src="../public/images/gallery/rhode-dubois/desktop/Event_KeyboardCheck-desktop.jpg" alt="Musical Festival Keyboard" />
                            </picture>
                            <figcaption class="gallery__card__figcaption">
                                <h2 class="gallery__card__title">Musical Festival Keyboard</h2>
                                <div class="gallery__card__likes">
                                    <span class="gallery__likes" aria-label="likes">52</span>
                                    <i class="fa-2x fa-heart far gallery__icon__heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
            
                    <article class="gallery__card">
                        <figure class="gallery__card__figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/rhode-dubois/mobile/Event_Emcee-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/rhode-dubois/tablet/Event_Emcee-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/rhode-dubois/laptop/Event_Emcee-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/rhode-dubois/desktop/Event_Emcee-desktop.jpg">
                                <img class="gallery__card__image" src="../public/images/gallery/rhode-dubois/desktop/Event_Emcee-desktop.jpg" alt="Musical Festival Singer" />
                            </picture>
                            <figcaption class="gallery__card__figcaption">
                                <h2 class="gallery__card__title">Musical Festival Singer</h2>
                                <div class="gallery__card__likes">
                                    <span class="gallery__likes" aria-label="likes">23</span>
                                    <i class="fa-2x fa-heart far gallery__icon__heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
            
                    <article class="gallery__card">
                        <figure class="gallery__card__figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/rhode-dubois/mobile/Animals_Majesty-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/rhode-dubois/tablet/Animals_Majesty-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/rhode-dubois/laptop/Animals_Majesty-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/rhode-dubois/desktop/Animals_Majesty-desktop.jpg">
                                <img class="gallery__card__image" src="../public/images/gallery/rhode-dubois/desktop/Animals_Majesty-desktop.jpg" alt="Animal Majesty" />
                            </picture>
                            <figcaption class="gallery__card__figcaption">
                                <h2 class="gallery__card__title">Animal Majesty</h2>
                                <div class="gallery__card__likes">
                                    <span class="gallery__likes" aria-label="likes">52</span>
                                    <i class="fa-2x fa-heart far gallery__icon__heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
            
                    <article class="gallery__card">
                        <figure class="gallery__card__figure">
                            <video class="gallery__card__video" title="Cute Puppy on Sunset" preload="auto" autoplay controls>
                                <source src="../public/images/gallery/rhode-dubois/video/Animals_Puppiness.mp4" type="video/mp4">
                            </video>
                            <figcaption class="gallery__card__figcaption"> 
                                <h2 class="gallery__card__title">Cute Puppy on Sunset</h2>
                                <div class="gallery__card__likes">
                                    <span class="gallery__likes" aria-label="likes">52</span>
                                    <i class="fa-2x fa-heart far gallery__icon__heart"></i>
                                </div>
                            </figcaption>
                        </figure> 
                    </article>
                </div>
            </section>
            
            <section class="section-contact">
                <div class="modal" role="dialog" aria-labelledby="contact-title">
                    <div class="modal__container">
                        <header class="modal__header">
                            <h1 class="modal__title" id="contact-title">Contactez-moi <br>Rhode Dubois</h1>
                            <span class="modal__close">&times;</span>
                        </header>
                        <div class="modal__form">
                            <form name="contactForm" action="rhode-dubois.html" method="get" id="contactForm">
                                <div class="modal__form__group">
                                    <label for="firstname" class="modal__form__label" id="label-firstname">Prénom</label>
                                    <input type="text" name="firstname" id="firstname" class="modal__form__input" aria-labelledby="label-firstname" minlength="2" maxlength="64" required />
                                    <span id="first-error"></span>
                                </div>
                                <div class="modal__form__group">
                                    <label for="lastname" class="modal__form__label" id="label-lastname">Nom</label>
                                    <input type="text" name="lastname" id="lastname" class="modal__form__input" aria-labelledby="label-lastname" minlength="2" maxlength="64" required />
                                    <span id="last-error"></span>
                                </div>
                                <div class="modal__form__group">
                                    <label for="email" class="modal__form__label" id="label-email">Email</label>
                                    <input type="email" name="email" id="email" aria-labelledby="label-email" class="modal__form__input" required />
                                    <span id="email-error"></span>
                                </div>
                                <div class="modal__form__group modal__form__group--textarea">
                                    <label for="message" class="modal__form__label" id="label-message">Votre message</label>
                                    <textarea name="message" id="message" class="modal__form__input modal__form__input--textarea" aria-labelledby="label-message" required></textarea>
                                    <span id="message-error"></span>
                                </div>
                                <button class="modal__btn modal__btn--submit" type="submit">Envoyer</button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section-modal-image" aria-label="modal image photographer">
                <div class="slider" role="dialog" aria-label="image closeup view">
                    <span class="slider__close" role="button" aria-label="close dialog">&times;</span>
                    <ul class="slider__list__item">
                      <li class="slider__item">
                        <input class="slider__input" type="radio" name="radio-buttons" id="img-1" checked />
                        <div class="slider__item__container">
                            <article class="slider__article">
                                <figure class="slider__figure">
                                    <picture>
                                        <source media="(max-width: 640px)" srcset="../public/images/gallery/rhode-dubois/mobile/Sport_2000_with_8-mobile.jpg">
                                        <source media="(max-width: 1080px)" srcset="../public/images/gallery/rhode-dubois/tablet/Sport_2000_with_8-tablet.jpg">
                                        <source media="(max-width: 1438px)" srcset="../public/images/gallery/rhode-dubois/laptop/Sport_2000_with_8-laptop.jpg">
                                        <source media="(min-width: 1439px)" srcset="../public/images/gallery/rhode-dubois/desktop/Sport_2000_with_8-desktop.jpg">
                                        <img class="slider__image" src="../public/images/gallery/rhode-dubois/desktop/Sport_2000_with_8-desktop.jpg" alt="8 Rows" />
                                    </picture>
                                    <figcaption>
                                        <h2 class="slider__title">8 Rows</h2>
                                    </figcaption>
                                </figure>
                            </article>
                            <div class="slider__controls">
                              <label for="img-9" class="slider__prev" aria-label="previous image">
                                <i class="fas fa-chevron-left"></i>
                              </label>
                              <label for="img-2" class="slider__next" aria-label="next image">
                                <i class="fas fa-chevron-right"></i>
                              </label>
                            </div>
                        </div>            
                      </li>
                  
                      <li class="slider__item">
                        <input class="slider__input" type="radio" name="radio-buttons" id="img-2" />
                        <div class="slider__item__container">
                            <article class="slider__article">
                                <figure class="slider__figure">
                                    <picture>
                                        <source media="(max-width: 640px)" srcset="../public/images/gallery/rhode-dubois/mobile/Fashion_Wings-mobile.jpg">
                                        <source media="(max-width: 1080px)" srcset="../public/images/gallery/rhode-dubois/tablet/Fashion_Wings-tablet.jpg">
                                        <source media="(max-width: 1438px)" srcset="../public/images/gallery/rhode-dubois/laptop/Fashion_Wings-laptop.jpg">
                                        <source media="(min-width: 1439px)" srcset="../public/images/gallery/rhode-dubois/desktop/Fashion_Wings-desktop.jpg">
                                        <img class="slider__image" src="../public/images/gallery/rhode-dubois/desktop/Fashion_Wings-desktop.jpg" alt="Fashion Wings" />
                                    </picture>
                                    <figcaption>
                                        <h2 class="slider__title">Fashion Wings</h2>
                                    </figcaption>
                                </figure>
                            </article>
                            <div class="slider__controls">
                              <label for="img-1" class="slider__prev" aria-label="previous image">
                                <i class="fas fa-chevron-left"></i>
                              </label>
                              <label for="img-3" class="slider__next" aria-label="next image">
                                <i class="fas fa-chevron-right"></i>
                              </label>
                            </div>
                        </div>            
                      </li>
                
                      <li class="slider__item">
                        <input class="slider__input" type="radio" name="radio-buttons" id="img-3" />
                        <div class="slider__item__container">
                            <article class="slider__article">
                                <figure class="slider__figure">
                                    <picture>
                                        <source media="(max-width: 640px)" srcset="../public/images/gallery/rhode-dubois/mobile/Fashion_Melody_Red_on_Stripes-mobile.jpg">
                                        <source media="(max-width: 1080px)" srcset="../public/images/gallery/rhode-dubois/tablet/Fashion_Melody_Red_on_Stripes-tablet.jpg">
                                        <source media="(max-width: 1438px)" srcset="../public/images/gallery/rhode-dubois/laptop/Fashion_Melody_Red_on_Stripes-laptop.jpg">
                                        <source media="(min-width: 1439px)" srcset="../public/images/gallery/rhode-dubois/desktop/Fashion_Melody_Red_on_Stripes-desktop.jpg">
                                        <img class="slider__image" src="../public/images/gallery/rhode-dubois/desktop/Fashion_Melody_Red_on_Stripes-desktop.jpg" alt="Melody Red on Stripes" />
                                    </picture>
                                    <figcaption>
                                        <h2 class="slider__title">Melody Red on Stripes</h2>
                                    </figcaption>
                                </figure>
                            </article>
                            <div class="slider__controls">
                              <label for="img-2" class="slider__prev" aria-label="previous image">
                                <i class="fas fa-chevron-left"></i>
                              </label>
                              <label for="img-4" class="slider__next" aria-label="next image">
                                <i class="fas fa-chevron-right"></i>
                              </label>
                            </div>
                        </div>         
                      </li>
                
                      <li class="slider__item">
                        <input class="slider__input" type="radio" name="radio-buttons" id="img-4" />
                        <div class="slider__item__container">
                            <article class="slider__article">
                                <figure class="slider__figure">
                                    <picture>
                                        <source media="(max-width: 640px)" srcset="../public/images/gallery/rhode-dubois/mobile/Event_VentureConference-mobile.jpg">
                                        <source media="(max-width: 1080px)" srcset="../public/images/gallery/rhode-dubois/tablet/Event_VentureConference-tablet.jpg">
                                        <source media="(max-width: 1438px)" srcset="../public/images/gallery/rhode-dubois/laptop/Event_VentureConference-laptop.jpg">
                                        <source media="(min-width: 1439px)" srcset="../public/images/gallery/rhode-dubois/desktop/Event_VentureConference-desktop.jpg">
                                        <img class="slider__image" src="../public/images/gallery/rhode-dubois/desktop/Event_VentureConference-desktop.jpg" alt="Venture Conference" />
                                    </picture>
                                    <figcaption>
                                        <h2 class="slider__title">Venture Conference</h2>
                                    </figcaption>
                                </figure>
                            </article>
                            <div class="slider__controls">
                              <label for="img-3" class="slider__prev" aria-label="previous image">
                                <i class="fas fa-chevron-left"></i>
                              </label>
                              <label for="img-5" class="slider__next" aria-label="next image">
                                <i class="fas fa-chevron-right"></i>
                              </label>
                            </div>
                        </div>
                      </li>
                
                      <li class="slider__item">
                        <input class="slider__input" type="radio" name="radio-buttons" id="img-5" />
                        <div class="slider__item__container">
                            <article class="slider__article">
                                <figure class="slider__figure">
                                    <picture>
                                        <source media="(max-width: 640px)" srcset="../public/images/gallery/rhode-dubois/mobile/Event_ProductPitch-mobile.jpg">
                                        <source media="(max-width: 1080px)" srcset="../public/images/gallery/rhode-dubois/tablet/Event_ProductPitch-tablet.jpg">
                                        <source media="(max-width: 1438px)" srcset="../public/images/gallery/rhode-dubois/laptop/Event_ProductPitch-laptop.jpg">
                                        <source media="(min-width: 1439px)" srcset="../public/images/gallery/rhode-dubois/desktop/Event_ProductPitch-desktop.jpg">
                                        <img class="slider__image" src="../public/images/gallery/rhode-dubois/desktop/Event_ProductPitch-desktop.jpg" alt="Product Pitch" />
                                    </picture>
                                    <figcaption>
                                        <h2 class="slider__title">Product Pitch</h2>
                                    </figcaption>
                                </figure>
                            </article>
                            <div class="slider__controls">
                              <label for="img-4" class="slider__prev" aria-label="previous image">
                                <i class="fas fa-chevron-left"></i>
                              </label>
                              <label for="img-6" class="slider__next" aria-label="next image">
                                <i class="fas fa-chevron-right"></i>
                              </label>
                            </div>
                        </div>
                      </li>
                  
                      <li class="slider__item">
                        <input class="slider__input" type="radio" name="radio-buttons" id="img-6" />
                        <div class="slider__item__container">
                            <article class="slider__article">
                                <figure class="slider__figure">
                                    <picture>
                                        <source media="(max-width: 640px)" srcset="../public/images/gallery/rhode-dubois/mobile/Event_KeyboardCheck-mobile.jpg">
                                        <source media="(max-width: 1080px)" srcset="../public/images/gallery/rhode-dubois/tablet/Event_KeyboardCheck-tablet.jpg">
                                        <source media="(max-width: 1438px)" srcset="../public/images/gallery/rhode-dubois/laptop/Event_KeyboardCheck-laptop.jpg">
                                        <source media="(min-width: 1439px)" srcset="../public/images/gallery/rhode-dubois/desktop/Event_KeyboardCheck-desktop.jpg">
                                        <img class="slider__image" src="../public/images/gallery/rhode-dubois/desktop/Event_KeyboardCheck-desktop.jpg" alt="Musical Festival Keyboard" />
                                    </picture>
                                    <figcaption>
                                        <h2 class="slider__title">Musical Festival Keyboard</h2>
                                    </figcaption>
                                </figure>
                            </article>
                            <div class="slider__controls">
                              <label for="img-5" class="slider__prev" aria-label="previous image">
                                <i class="fas fa-chevron-left"></i>
                              </label>
                              <label for="img-7" class="slider__next" aria-label="next image">
                                <i class="fas fa-chevron-right"></i>
                              </label>
                            </div>
                        </div>               
                      </li>
                
                      <li class="slider__item">
                        <input class="slider__input" type="radio" name="radio-buttons" id="img-7" />
                        <div class="slider__item__container">
                            <article class="slider__article">
                                <figure class="slider__figure">
                                    <picture>
                                        <source media="(max-width: 640px)" srcset="../public/images/gallery/rhode-dubois/mobile/Event_Emcee-mobile.jpg">
                                        <source media="(max-width: 1080px)" srcset="../public/images/gallery/rhode-dubois/tablet/Event_Emcee-tablet.jpg">
                                        <source media="(max-width: 1438px)" srcset="../public/images/gallery/rhode-dubois/laptop/Event_Emcee-laptop.jpg">
                                        <source media="(min-width: 1439px)" srcset="../public/images/gallery/rhode-dubois/desktop/Event_Emcee-desktop.jpg">
                                        <img class="slider__image" src="../public/images/gallery/rhode-dubois/desktop/Event_Emcee-desktop.jpg" alt="Musical Festival Singer" />
                                    </picture>
                                    <figcaption>
                                        <h2 class="slider__title">Musical Festival Singer</h2>
                                    </figcaption>
                                </figure>
                            </article>
                            <div class="slider__controls">
                              <label for="img-6" class="slider__prev" aria-label="previous image">
                                <i class="fas fa-chevron-left"></i>
                              </label>
                              <label for="img-8" class="slider__next" aria-label="next image">
                                <i class="fas fa-chevron-right"></i>
                              </label>
                            </div>
                        </div>      
                      </li>
                
                      <li class="slider__item">
                        <input class="slider__input" type="radio" name="radio-buttons" id="img-8" />
                        <div class="slider__item__container">
                            <article class="slider__article">
                                <figure class="slider__figure">
                                    <picture>
                                        <source media="(max-width: 640px)" srcset="../public/images/gallery/rhode-dubois/mobile/Animals_Majesty-mobile.jpg">
                                        <source media="(max-width: 1080px)" srcset="../public/images/gallery/rhode-dubois/tablet/Animals_Majesty-tablet.jpg">
                                        <source media="(max-width: 1438px)" srcset="../public/images/gallery/rhode-dubois/laptop/Animals_Majesty-laptop.jpg">
                                        <source media="(min-width: 1439px)" srcset="../public/images/gallery/rhode-dubois/desktop/Animals_Majesty-desktop.jpg">
                                        <img class="slider__image" src="../public/images/gallery/rhode-dubois/desktop/Animals_Majesty-desktop.jpg" alt="Animal Majesty" />
                                    </picture>
                                    <figcaption>
                                        <h2 class="slider__title">Animal Majesty</h2>
                                    </figcaption>
                                </figure>
                            </article>
                            <div class="slider__controls">
                              <label for="img-7" class="slider__prev" aria-label="previous image">
                                <i class="fas fa-chevron-left"></i>
                              </label>
                              <label for="img-9" class="slider__next" aria-label="next image">
                                <i class="fas fa-chevron-right"></i>
                              </label>
                            </div>
                        </div>        
                      </li>
                
                      <li class="slider__item slider__item--video">
                        <input class="slider__input" type="radio" name="radio-buttons" id="img-9"/>
                        <div class="slider__item__container">
                            <article class="slider__article">
                                <figure class="slider__figure">
                                    <video class="slider__video" title="Cute Puppy on Sunset" preload="auto" autoplay controls>
                                        <source src="../public/images/gallery/rhode-dubois/video/Animals_Puppiness.mp4" type="video/mp4">
                                    </video>
                                    <figcaption> 
                                        <h2 class="slider__title">Cute Puppy on Sunset</h2>
                                    </figcaption>
                                </figure> 
                            </article>
                            <div class="slider__controls">
                              <label for="img-8" class="slider__prev" aria-label="previous image">
                                <i class="fas fa-chevron-left"></i>
                              </label>
                              <label for="img-1" class="slider__next" aria-label="next image">
                                <i class="fas fa-chevron-right"></i>
                              </label>
                            </div>
                        </div>                    
                      </li>
                    </ul>
                </div>
            </section>
        </main>
        <footer class="footer">
            <div class="footer__column">
                <span class="footer__like">287 081</span>
                <i class="fas fa-heart footer__icon__heart"></i>
            </div>
            <div class="footer__column">
                <span class="footer__price">375€ / jour</span>
            </div>
        </footer>
    </body>
</html>