<!DOCTYPE html>
<html class="no-js" lang="fr">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit-no" />

        <link rel="stylesheet" href="../public/vendor/fontawesome/css/all.min.css">
        <link rel="stylesheet" href="../public/css/style.css">

        <title>FishEye - Openclassrooms</title>
    </head>

    <body>
        <header role="banner" class="header">
            <a href="../index.html" class="link-image">
                <figure>
                    <img src="https://res.cloudinary.com/dlpyn3wxf/image/upload/v1614078430/logo_mig5no.png" alt="Fisheye Home page" />
                </figure>
            </a>
        </header>
        <main class="main-photographer">
            <section class="section-banner" aria-label="photographer information">
                <div class="banner-info">
                    <div class="container">
                        <div class="row">
                            <div class="column-left">
                                <header id="photographer-3" class="banner-header">
                                    <h1 class="title">Tracy Galindo</h1>
                                    <div class="subtitle">
                                        <span class="locations">Montreal, Canada</span>
                                    </div>
                                    <div class="description">
                                        <span class="desc">Photographe freelance</span>
                                    </div>
                                    <div class="tags">
                                        <ul class="tags-list">
                                            <li class="list-items">
                                                <a class="link-item" href="#">#art</a>
                                            </li>
                                            <li class="list-items">
                                                <a class="link-item" href="#">#fashion</a>
                                            </li>
                                            <li class="list-items">
                                                <a class="link-item" href="#">#events</a>
                                            </li>
                                        </ul>
                                    </div>
                                </header>
                                <div class="banner-content">
                                    <button class="btn btn-primary">Contactez-moi</button>
                                </div>           
                            </div>
                            <div class="column-right">
                                <figure>
                                    <picture>
                                        <source media="(max-width: 640px)" srcset="../public/images/photographers-id/mobile/TracyGalindo-mobile.jpg">
                                        <source media="(max-width: 1080px)" srcset="../public/images/photographers-id/tablet/TracyGalindo-tablet.jpg">
                                        <source media="(max-width: 1438px)" srcset="../public/images/photographers-id/laptop/TracyGalindo-laptop.jpg">
                                        <source media="(min-width: 1439px)" srcset="../public/images/photographers-id/desktop/TracyGalindo-desktop.jpg">
                                        <img class="image" src="../public/images/photographers-id/desktop/TracyGalindo-desktop.jpg" alt="Tracy Galindo" />     
                                    </picture>  
                                </figure>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section class="section-gallery-images" aria-label="gallery images photographer">
                <div class="filter">
                    <span class="text-filter">Trier par</span>
                    <select class="select">
                        <option class="option" value="1">Popularity</option>
                        <option class="option" value="2">Date</option>
                        <option class="option" value="3">Titre</option>
                    </select>
                </div>
                
                <div class="gallery-container">
                    <article class="gallery-card">
                        <figure class="card-figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/tracy-galindo/mobile/Fashion_Yellow_Beach-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/tracy-galindo/tablet/Fashion_Yellow_Beach-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/tracy-galindo/laptop/Fashion_Yellow_Beach-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/tracy-galindo/desktop/Fashion_Yellow_Beach-desktop.jpg">
                                <img class="card-image" src="../public/images/gallery/tracy-galindo/desktop/Fashion_Yellow_Beach-desktop.jpg" alt="" />
                            </picture>
                            <figcaption>
                                <h2 class="card-title">Fashion Yellow Beach</h2>
                                <div class="card-likes">
                                    <span class="likes" aria-label="likes">62</span>
                                    <i class="fa-2x fa-heart far icon-heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>

                    <article class="gallery-card">
                        <figure class="card-figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/tracy-galindo/mobile/Fashion_Urban_Jungle-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/tracy-galindo/tablet/Fashion_Urban_Jungle-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/tracy-galindo/laptop/Fashion_Urban_Jungle-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/tracy-galindo/desktop/Fashion_Urban_Jungle-desktop.jpg">
                                <img class="card-image" src="../public/images/gallery/tracy-galindo/desktop/Fashion_Urban_Jungle-desktop.jpg" alt="" />
                            </picture>
                            <figcaption>
                                <h2 class="card-title">Fashion Urban Jungle</h2>
                                <div class="card-likes">
                                    <span class="likes" aria-label="likes">11</span>
                                    <i class="fa-2x fa-heart far icon-heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>

                    <article class="gallery-card">
                        <figure class="card-figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/tracy-galindo/mobile/Fashion_Pattern_on_Pattern-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/tracy-galindo/tablet/Fashion_Pattern_on_Pattern-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/tracy-galindo/laptop/Fashion_Pattern_on_Pattern-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/tracy-galindo/desktop/Fashion_Pattern_on_Pattern-desktop.jpg">
                                <img class="card-image" src="../public/images/gallery/tracy-galindo/desktop/Fashion_Pattern_on_Pattern-desktop.jpg" alt="" />
                            </picture>
                            <figcaption>
                                <h2 class="card-title">Fashion Pattern on a Pattern</h2>
                                <div class="card-likes">
                                    <span class="likes" aria-label="likes">72</span>
                                    <i class="fa-2x fa-heart far icon-heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>

                    <article class="gallery-card">
                        <figure class="card-figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/tracy-galindo/mobile/Event_WeddingGazebo-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/tracy-galindo/tablet/Event_WeddingGazebo-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/tracy-galindo/laptop/Event_WeddingGazebo-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/tracy-galindo/desktop/Event_WeddingGazebo-desktop.jpg">
                                <img class="card-image" src="../public/images/gallery/tracy-galindo/desktop/Event_WeddingGazebo-desktop.jpg" alt="" />
                            </picture>
                            <figcaption>
                                <h2 class="card-title">Wedding Gazebo</h2>
                                <div class="card-likes">
                                    <span class="likes" aria-label="likes">69</span>
                                    <i class="fa-2x fa-heart far icon-heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>

                    <article class="gallery-card">
                        <figure class="card-figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/tracy-galindo/mobile/Event_Sparklers-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/tracy-galindo/tablet/Event_Sparklers-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/tracy-galindo/laptop/Event_Sparklers-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/tracy-galindo/desktop/Event_Sparklers-desktop.jpg">
                                <img class="card-image" src="../public/images/gallery/tracy-galindo/desktop/Event_Sparklers-desktop.jpg" alt="" />
                            </picture>
                            <figcaption>
                                <h2 class="card-title">Sparkles</h2>
                                <div class="card-likes">
                                    <span class="likes" aria-label="likes">2</span>
                                    <i class="fa-2x fa-heart far icon-heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>

                    <article class="gallery-card">
                        <figure class="card-figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/tracy-galindo/mobile/Event_18thAnniversary-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/tracy-galindo/tablet/Event_18thAnniversary-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/tracy-galindo/laptop/Event_18thAnniversary-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/tracy-galindo/desktop/Event_18thAnniversary-desktop.jpg">
                                <img class="card-image" src="../public/images/gallery/tracy-galindo/desktop/Event_18thAnniversary-desktop.jpg" alt="" />
                            </picture>
                            <figcaption>
                                <h2 class="card-title">18th Anniversary</h2>
                                <div class="card-likes">
                                    <span class="likes" aria-label="likes">33</span>
                                    <i class="fa-2x fa-heart far icon-heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>

                    <article class="gallery-card">
                        <figure class="card-figure">
                            <video class="card-video" title="Wild Horses in the Mountains" preload="auto" autoplay controls>
                                <source src="../public/images/gallery/tracy-galindo/video/Art_Wooden_Horse_Sculpture.mp4" type="video/mp4">
                            </video>
                            <figcaption> 
                                <h2 class="card-title">Wooden Horse Sculpture</h2>
                                <div class="card-likes">
                                    <span class="likes" aria-label="likes">24</span>
                                    <i class="fa-2x fa-heart far icon-heart"></i>
                                </div>
                            </figcaption>
                        </figure> 
                    </article>

                    <article class="gallery-card">
                        <figure class="card-figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/tracy-galindo/mobile/Art_Triangle_Man-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/tracy-galindo/tablet/Art_Triangle_Man-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/tracy-galindo/laptop/Art_Triangle_Man-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/tracy-galindo/desktop/Art_Triangle_Man-desktop.jpg">
                                <img class="card-image" src="../public/images/gallery/tracy-galindo/desktop/Art_Triangle_Man-desktop.jpg" alt="" />
                            </picture>
                            <figcaption>
                                <h2 class="card-title">Triangle Man</h2>
                                <div class="card-likes">
                                    <span class="likes" aria-label="likes">88</span>
                                    <i class="fa-2x fa-heart far icon-heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>

                    <article class="gallery-card">
                        <figure class="card-figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/tracy-galindo/mobile/Art_Purple_light-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/tracy-galindo/tablet/Art_Purple_light-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/tracy-galindo/laptop/Art_Purple_light-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/tracy-galindo/desktop/Art_Purple_light-desktop.jpg">
                                <img class="card-image" src="../public/images/gallery/tracy-galindo/desktop/Art_Purple_light-desktop.jpg" alt="" />
                            </picture>
                            <figcaption>
                                <h2 class="card-title">Purple Tunnel</h2>
                                <div class="card-likes">
                                    <span class="likes" aria-label="likes">24</span>
                                    <i class="fa-2x fa-heart far icon-heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>

                    <article class="gallery-card">
                        <figure class="card-figure">
                            <picture>
                                <source media="(max-width: 640px)" srcset="../public/images/gallery/tracy-galindo/mobile/Art_Mine-mobile.jpg">
                                <source media="(max-width: 1080px)" srcset="../public/images/gallery/tracy-galindo/tablet/Art_Mine-tablet.jpg">
                                <source media="(max-width: 1438px)" srcset="../public/images/gallery/tracy-galindo/laptop/Art_Mine-laptop.jpg">
                                <source media="(min-width: 1439px)" srcset="../public/images/gallery/tracy-galindo/desktop/Art_Mine-desktop.jpg">
                                <img class="card-image" src="../public/images/gallery/tracy-galindo/desktop/Art_Mine-desktop.jpg" alt="" />
                            </picture>
                            <figcaption>
                                <h2 class="card-title">Art Mine</h2>
                                <div class="card-likes">
                                    <span class="likes" aria-label="likes">75</span>
                                    <i class="fa-2x fa-heart far icon-heart"></i>
                                </div>
                            </figcaption>
                        </figure>
                    </article>
                </div>
            </section>

            <section class="section-contact">
                <div class="modal" role="dialog" aria-labelledby="contact-title">
                    <div class="modal-container">
                        <header class="modal-header">
                            <h1 class="modal-title" id="contact-title">Contactez-moi <br>Tracy Galindo</h1>
                            <span class="modal-close">&times;</span>
                        </header>
                        <div class="modal-form">
                            <form name="contactForm" action="tracy-galindo.html" method="get" id="contactForm">
                                <div class="modal-form-group">
                                    <label for="firstname" class="form-label" id="label-firstname">Prénom</label>
                                    <input type="text" name="firstname" id="firstname" class="form-input" aria-labelledby="label-firstname" minlength="2" maxlength="64" required />
                                    <span id="first-error"></span>
                                </div>
                                <div class="modal-form-group">
                                    <label for="lastname" class="form-label" id="label-lastname">Nom</label>
                                    <input type="text" name="lastname" id="lastname" class="form-input" aria-labelledby="label-lastname" minlength="2" maxlength="64" required />
                                    <span id="last-error"></span>
                                </div>
                                <div class="modal-form-group">
                                    <label for="email" class="form-label" id="label-email">Email</label>
                                    <input type="email" name="email" id="email" class="form-input" aria-labelledby="label-email" required />
                                    <span id="email-error"></span>
                                </div>
                                <div class="modal-form-group form-group-textarea">
                                    <label for="message" class="form-label" id="label-message">Votre message</label>
                                    <textarea name="message" id="message" class="form-input" aria-labelledby="label-message" required></textarea>
                                    <span id="message-error"></span>
                                </div>
                                <button class="btn-submit" type="submit">Envoyer</button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </body>
</html>