@import url(https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap);
:root {
  --transparent: transparent;
  --inherit: inherit;
  --white: #fff;
  --black: #000;
  --primary: #901C1C;
  --secondary: #D3573C;
  --tertiary: #525252;
  --dark-gray: #757575;
  --gray-98: #fafafa;
  --burning-sand: #DB8876;
  --mine-shaft: #312E2E;
  --falu-red: #801717;
}

header .container {
  margin: 43px 100px;
}
header .container .row {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-content: inherit;
  flex-wrap: wrap;
}
header .container .row .column {
  height: 100%;
  width: 100%;
  position: relative;
  top: inherit;
  right: inherit;
  bottom: inherit;
  left: inherit;
}
header .container .row .left, header .container .row .right {
  flex-basis: 0;
  flex-grow: 0;
  max-height: 100%;
  max-width: 100%;
}
header .container .row .left a figure {
  margin: 0;
}
header .container .row .left a figure img {
  height: 100%;
  width: 200px;
}
header .container .row .center {
  flex: 0 0 50%;
  max-height: 50%;
  max-width: 100%;
}
header .container .row .center .navbar .navbar-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: inherit;
  align-content: inherit;
  padding: 0;
}
header .container .row .center .navbar .navbar-center .list-items {
  height: 22px;
  width: auto;
  list-style: none;
  margin: 5px;
}
header .container .row .center .navbar .navbar-center .list-items:first-child {
  margin-left: 0;
}
header .container .row .center .navbar .navbar-center .list-items:last-child {
  margin-right: 0;
}
header .container .row .center .navbar .navbar-center .list-items .link-item {
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 15.62px;
  border: 0.5px solid #C4C4C4;
  border-radius: 11px;
  color: var(--primary);
  padding: 0.156rem 0.423rem;
  text-decoration: none;
  transition: all 0.2s;
}
header .container .row .center .navbar .navbar-center .list-items .link-item:hover {
  background-color: var(--primary);
  color: var(--white);
}
header .container .row .right {
  text-align: end;
}
header .container .row .right .title {
  font-family: "DM Sans", sans-serif;
  font-size: 36px;
  font-weight: normal;
  letter-spacing: 0;
  line-height: 47px;
  color: var(--primary);
  margin: 0;
  height: 100%;
  width: 306px;
}

@media (min-width: 1081px) and (max-width: 1438px) {
  header .container .row .center {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 120px;
    right: 0;
    bottom: inherit;
    left: inherit;
  }
  header .container .row .center .navbar .navbar-center {
    margin: 0;
  }
}
@media (min-width: 641px) and (max-width: 1080px) {
  header .container {
    margin: 43px 50px;
  }
  header .container .row .center {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 120px;
    right: 0;
    bottom: inherit;
    left: inherit;
  }
  header .container .row .center .navbar .navbar-center {
    margin: 0;
  }
}
@media (max-width: 640px) {
  header .container {
    margin: 43px 20px;
  }
  header .container .row .left a figure img {
    height: 100%;
    width: 150px;
  }
  header .container .row .center {
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 110px;
    right: 0;
    bottom: inherit;
    left: inherit;
  }
  header .container .row .center .navbar .navbar-center {
    flex-wrap: wrap;
    margin: 0 20px;
  }
  header .container .row .right .title {
    height: 100%;
    width: 120px;
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 18px;
  }
}
.header {
  margin: 43px 100px 40px 100px;
}
.header .link-image figure {
  margin: 0;
}
.header .link-image figure img {
  height: 100%;
  width: 200px;
}

@media (min-width: 641px) and (max-width: 1080px) {
  .header {
    margin: 43px 50px 40px 50px;
  }
}
@media (max-width: 640px) {
  .header {
    margin: 43px 20px 30px 20px;
  }
  .header .link-image figure img {
    height: 100%;
    width: 150px;
  }
}
.card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: inherit;
  align-content: inherit;
  min-width: 263px;
  margin-bottom: 51px;
}
.card .card-container {
  display: flex;
  flex-direction: column;
  justify-content: inherit;
  align-items: center;
  align-content: inherit;
}
.card .card-container .card-header {
  text-align: center;
}
.card .card-container .card-header .card-header-link {
  text-decoration: none;
}
.card .card-container .card-header .card-header-link figure {
  margin: 0;
}
.card .card-container .card-header .card-header-link figure picture .image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  box-shadow: 0 0 0.8rem rgba(134, 134, 134, 0.432);
  object-fit: cover;
  overflow: hidden;
}
.card .card-container .card-header .card-header-link figure figcaption .title {
  font-family: "DM Sans", sans-serif;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 46.87px;
  color: var(--secondary);
  margin: 20px 0 0 0;
  text-align: center;
}
.card .card-container .card-content {
  height: 100%;
  width: 200px;
  text-align: center;
}
.card .card-container .card-content .subtitle {
  font-family: "DM Sans", sans-serif;
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 16.93px;
  color: var(--primary);
}
.card .card-container .card-content .description .desc {
  font-family: "DM Sans", sans-serif;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 13.02px;
}
.card .card-container .card-content .description .price {
  font-family: "DM Sans", sans-serif;
  font-size: 9px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 11.72px;
  color: var(--dark-gray);
}
.card .card-container .card-footer {
  margin-top: 8px;
}
.card .card-container .card-footer .card-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: inherit;
  align-content: inherit;
  padding: 0;
  margin: 0;
}
.card .card-container .card-footer .card-list .list-items {
  height: 22px;
  width: auto;
  list-style: none;
  margin: 2.5px;
}
.card .card-container .card-footer .card-list .list-items:first-child {
  margin-left: 0;
}
.card .card-container .card-footer .card-list .list-items:last-child {
  margin-right: 0;
}
.card .card-container .card-footer .card-list .list-items .link-item {
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 15.62px;
  border: 0.5px solid #C4C4C4;
  border-radius: 11px;
  color: var(--primary);
  padding: 0.156rem 0.267rem;
  text-decoration: none;
  transition: all 0.2s;
}
.card .card-container .card-footer .card-list .list-items .link-item:hover {
  background-color: var(--primary);
  color: var(--white);
}

@media (max-width: 640px) {
  .card {
    height: auto;
    width: 100%;
    margin-bottom: 29px;
  }
}
.section-banner .banner-info {
  background: var(--gray-98);
  margin: 0 32px;
}
.section-banner .banner-info .container {
  padding: 54px 50px 54px 50px;
}
.section-banner .banner-info .container .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: inherit;
  align-content: inherit;
}
.section-banner .banner-info .container .row .column-left {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: inherit;
  align-content: inherit;
}
.section-banner .banner-info .container .row .column-left .banner-header {
  margin-right: 120px;
}
.section-banner .banner-info .container .row .column-left .banner-header .title {
  font-family: "DM Sans", sans-serif;
  font-size: 64px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 83.33px;
  color: var(--secondary);
  margin: 0;
}
.section-banner .banner-info .container .row .column-left .banner-header .subtitle {
  font-family: "DM Sans", sans-serif;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 31.25px;
  color: var(--primary);
  margin-bottom: 19px;
}
.section-banner .banner-info .container .row .column-left .banner-header .description {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 23.44px;
  color: var(--tertiary);
}
.section-banner .banner-info .container .row .column-left .banner-header .tags .tags-list {
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 19px 0 0 0;
}
.section-banner .banner-info .container .row .column-left .banner-header .tags .tags-list .list-items {
  height: 22px;
  width: auto;
  list-style: none;
  margin: 2.5px;
}
.section-banner .banner-info .container .row .column-left .banner-header .tags .tags-list .list-items:first-child {
  margin-left: 0;
}
.section-banner .banner-info .container .row .column-left .banner-header .tags .tags-list .list-items:last-child {
  margin-right: 0;
}
.section-banner .banner-info .container .row .column-left .banner-header .tags .tags-list .list-items .link-item {
  font-family: "DM Sans", sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 15.62px;
  border: 0.5px solid #C4C4C4;
  border-radius: 11px;
  color: var(--primary);
  padding: 0.156rem 0.267rem;
  text-decoration: none;
  transition: all 0.2s;
}
.section-banner .banner-info .container .row .column-left .banner-header .tags .tags-list .list-items .link-item:hover {
  background-color: var(--primary);
  color: var(--white);
}
.section-banner .banner-info .container .row .column-left .banner-content .btn-primary {
  height: 70px;
  width: 170px;
  font-family: "DM Sans", sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 26.04px;
  background: var(--primary);
  border: none;
  border-radius: 5px;
  color: var(--white);
  cursor: pointer;
}
.section-banner .banner-info .container .row .column-right figure {
  margin: 0;
}
.section-banner .banner-info .container .row .column-right figure .image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  box-shadow: 0 0 0.8rem rgba(134, 134, 134, 0.432);
  object-fit: cover;
  overflow: hidden;
}

@media (min-width: 1081px) and (max-width: 1438px) {
  .section-banner .banner-info .container .row .column-left {
    max-height: 760px;
    max-width: 100%;
  }
}
@media (min-width: 1081px) and (max-width: 1438px) and (max-width: 1270px) {
  .section-banner .banner-info .container .row .column-left {
    justify-content: initial;
    align-items: inherit;
    align-content: inherit;
  }
}
@media (min-width: 1081px) and (max-width: 1438px) {
  .section-banner .banner-info .container .row .column-left .banner-header {
    margin-right: 50px;
  }
}
@media (min-width: 1081px) and (max-width: 1438px) and (max-width: 1270px) {
  .section-banner .banner-info .container .row .column-left #photographer-1 {
    height: auto;
    width: auto;
  }
}
@media (min-width: 1081px) and (max-width: 1438px) and (max-width: 1270px) {
  .section-banner .banner-info .container .row .column-left #photographer-2, .section-banner .banner-info .container .row .column-left #photographer-6 {
    height: auto;
    width: 51%;
  }
}
@media (min-width: 1081px) and (max-width: 1438px) and (max-width: 1270px) {
  .section-banner .banner-info .container .row .column-left #photographer-3 {
    height: auto;
    width: 40%;
  }
}
@media (min-width: 1081px) and (max-width: 1438px) and (max-width: 1270px) {
  .section-banner .banner-info .container .row .column-left #photographer-4, .section-banner .banner-info .container .row .column-left #photographer-5 {
    height: auto;
    width: 45%;
  }
}
@media (min-width: 641px) and (max-width: 1080px) {
  .section-banner .banner-info {
    background: var(--transparent);
    margin: 0;
  }
  .section-banner .banner-info .container {
    padding: 54px 32px 54px 32px;
  }
  .section-banner .banner-info .container .row .column-left .banner-header {
    margin-right: 30px;
  }
  .section-banner .banner-info .container .row .column-left .banner-content {
    display: none;
  }
}
@media (max-width: 640px) {
  .section-banner .banner-info {
    background: var(--transparent);
    margin: 0;
  }
  .section-banner .banner-info .container {
    padding: 0px 0px 54px 0px;
  }
  .section-banner .banner-info .container .row .column-left .banner-header {
    margin-right: 15px;
  }
  .section-banner .banner-info .container .row .column-left .banner-header .title {
    font-family: "DM Sans", sans-serif;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 46.87px;
  }
  .section-banner .banner-info .container .row .column-left .banner-header .subtitle {
    font-family: "DM Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 16.93px;
    margin-bottom: 5px;
  }
  .section-banner .banner-info .container .row .column-left .banner-header .description {
    font-family: "DM Sans", sans-serif;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 16.93px;
  }
  .section-banner .banner-info .container .row .column-left .banner-header .tags .tags-list {
    position: absolute;
    top: inherit;
    right: inherit;
    bottom: inherit;
    left: inherit;
    margin: 8px 0 0 0;
  }
  .section-banner .banner-info .container .row .column-left .banner-header .tags .tags-list .list-items .link-item {
    font-family: "DM Sans", sans-serif;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 16.93px;
  }
}
@media (max-width: 640px) and (min-width: 332px) {
  .section-banner .banner-info .container .row .column-left .banner-header .tags-mimi .tags-list {
    position: relative;
    top: inherit;
    right: inherit;
    bottom: inherit;
    left: inherit;
    flex-wrap: wrap;
  }
}
@media (max-width: 640px) {
  .section-banner .banner-info .container .row .column-left .banner-content {
    display: none;
  }
}
@media (max-width: 640px) {
  .section-banner .banner-info .container .row .column-right figure .image {
    height: 100px;
    width: 100px;
  }
}
.section-contact {
  display: none !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: inherit;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: inherit;
  bottom: inherit;
  left: 0;
  z-index: 20;
  min-height: 100%;
  margin: 0;
  padding: 0;
}
.section-contact .modal {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: inherit;
  bottom: inherit;
  left: inherit;
  background: rgba(196, 196, 196, 0.4);
  overflow: auto;
}
.section-contact .modal .modal-container {
  height: auto;
  width: 100%;
  max-height: inherit;
  max-width: 670px;
  position: relative;
  top: inherit;
  right: inherit;
  bottom: inherit;
  left: inherit;
  background: var(--burning-sand);
  margin: 6% auto;
  border-radius: 5px;
  animation: open-modal 1.5s ease-in-out normal forwards;
}
.section-contact .modal .modal-container .modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: inherit;
  align-content: inherit;
  padding: 12px 35px 10px 35px;
}
.section-contact .modal .modal-container .modal-header .modal-title {
  height: auto;
  width: 90%;
  font-family: "DM Sans", sans-serif;
  font-size: 64px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 83.33px;
  margin: 0;
}
.section-contact .modal .modal-container .modal-header .modal-close {
  height: 47px;
  width: 42px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  align-content: inherit;
  position: absolute;
  top: 29px;
  right: 35px;
  bottom: inherit;
  left: inherit;
  font-size: 90px;
  cursor: pointer;
  color: var(--white);
}
.section-contact .modal .modal-container .modal-header .modal-close:hover {
  transform: scale(1.05);
}
.section-contact .modal .modal-container .modal-form {
  padding: 0 35px 38px;
}
.section-contact .modal .modal-container .modal-form .modal-form-group {
  position: relative;
  top: inherit;
  right: inherit;
  bottom: inherit;
  left: inherit;
  display: flex;
  flex-direction: column;
}
.section-contact .modal .modal-container .modal-form .modal-form-group .form-label {
  font-family: "DM Sans", sans-serif;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 46.87px;
  color: var(--mine-shaft);
}
.section-contact .modal .modal-container .modal-form .modal-form-group .form-input {
  height: 62px;
  width: auto;
}
.section-contact .modal .modal-container .modal-form .modal-form-group #message {
  height: 162px;
  width: auto;
}
.section-contact .modal .modal-container .modal-form .form-group-textarea {
  margin: 15px 0 26px 0;
}
.section-contact .modal .modal-container .modal-form .btn-submit {
  height: 69px;
  width: 170px;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 23.44px;
  background: var(--primary);
  border: none;
  border-radius: 5px;
  color: var(--white);
  cursor: pointer;
}
.section-contact .modal .modal-container .modal-form .btn-submit:hover {
  background: var(--falu-red);
}

@keyframes open-modal {
  0% {
    opacity: 0;
    transform: translateY(-150px);
  }
  100% {
    opacity: 1;
  }
}
@media (max-width: 1080px) and (max-width: 670px) {
  .section-contact .modal .modal-container {
    position: fixed;
    top: inherit;
    right: inherit;
    bottom: 0;
    left: inherit;
    height: 100%;
    width: 100%;
    margin: 0;
    border-radius: 0;
    overflow: auto;
  }
}
@media (max-width: 640px) {
  .section-contact .modal .modal-container .modal-header {
    padding: 17px 22px 30px 15px;
  }
  .section-contact .modal .modal-container .modal-header .modal-title {
    font-family: "DM Sans", sans-serif;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 46.87px;
  }
  .section-contact .modal .modal-container .modal-header .modal-close {
    height: 19px;
    width: 19px;
    position: absolute;
    top: 22px;
    right: 27px;
    bottom: inherit;
    left: inherit;
    font-size: 40px;
  }
  .section-contact .modal .modal-container .modal-form {
    padding: 0 22px 38px 15px;
  }
  .section-contact .modal .modal-container .modal-form .modal-form-group {
    margin-top: 3px;
  }
  .section-contact .modal .modal-container .modal-form .modal-form-group .form-label {
    font-family: "DM Sans", sans-serif;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 31.25px;
  }
  .section-contact .modal .modal-container .modal-form .modal-form-group .form-input {
    height: 46px;
    width: auto;
  }
  .section-contact .modal .modal-container .modal-form .modal-form-group #message {
    height: 176px;
    width: auto;
  }
  .section-contact .modal .modal-container .modal-form .form-group-textarea {
    margin: 12px 0 26px 0;
  }
  .section-contact .modal .modal-container .modal-form .btn-submit {
    height: 35px;
    width: 170px;
    margin: 0 auto;
    display: block;
  }
}
.section-gallery-images .filter {
  margin: 9px 32px 5px 32px;
}
.section-gallery-images .filter .text-filter {
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 23.44px;
  color: var(--black);
}
.section-gallery-images .filter .select {
  height: 69px;
  width: 170px;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0;
  line-height: 23.44px;
  border-radius: 5px;
  background-color: var(--primary);
  border: none;
  padding: 23px 20px;
  color: var(--white);
  margin-left: 25px;
}
.section-gallery-images .gallery-container {
  justify-content: space-between;
  align-items: inherit;
  align-content: inherit;
  margin: 0 32px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
}
.section-gallery-images .gallery-container .gallery-card {
  height: auto;
  width: 350px;
  margin-top: 25px;
}
.section-gallery-images .gallery-container .gallery-card .card-figure {
  margin: 0;
}
.section-gallery-images .gallery-container .gallery-card .card-figure picture .card-image, .section-gallery-images .gallery-container .gallery-card .card-figure .card-video {
  height: 300px;
  width: 350px;
  object-fit: cover;
  border-radius: 5px;
}
.section-gallery-images .gallery-container .gallery-card .card-figure .card-video {
  cursor: pointer;
}
.section-gallery-images .gallery-container .gallery-card .card-figure figcaption {
  height: auto;
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  align-content: inherit;
}
.section-gallery-images .gallery-container .gallery-card .card-figure figcaption .card-title {
  font-family: "DM Sans", sans-serif;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 31.25px;
  color: var(--primary);
  margin: 0px;
  margin-top: 10px;
}
.section-gallery-images .gallery-container .gallery-card .card-figure figcaption .card-likes {
  display: flex;
  flex-direction: row;
  justify-content: inherit;
  align-items: center;
  align-content: inherit;
}
.section-gallery-images .gallery-container .gallery-card .card-figure figcaption .card-likes .likes {
  font-family: "DM Sans", sans-serif;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: 31.25px;
  color: var(--primary);
}
.section-gallery-images .gallery-container .gallery-card .card-figure figcaption .card-likes .icon-heart {
  color: var(--primary);
  background-color: var(--primary);
  font-size: 21px;
  -webkit-background-clip: text;
  font-weight: 900;
  margin-left: 5px;
}

@media (min-width: 1081px) and (max-width: 1438px) and (max-width: 1310px) {
  .section-gallery-images .gallery-container {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 1080px) and (max-width: 830px) {
  .section-gallery-images .gallery-container {
    justify-content: center;
    align-items: inherit;
    align-content: inherit;
    grid-template-columns: auto;
  }
}
@media (max-width: 1080px) and (min-width: 831px) {
  .section-gallery-images .gallery-container {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 640px) {
  .section-gallery-images .filter {
    display: none;
  }
  .section-gallery-images .gallery-container .gallery-card {
    height: auto;
    width: 335px;
  }
}
@media (max-width: 640px) and (max-width: 374px) {
  .section-gallery-images .gallery-container .gallery-card {
    height: auto;
    width: 280px;
  }
}
@media (max-width: 640px) {
  .section-gallery-images .gallery-container .gallery-card .card-figure picture .card-image, .section-gallery-images .gallery-container .gallery-card .card-figure .card-video {
    height: 190px;
    width: 335px;
    object-position: center 25%;
  }
}
@media (max-width: 640px) and (max-width: 374px) {
  .section-gallery-images .gallery-container .gallery-card .card-figure picture .card-image, .section-gallery-images .gallery-container .gallery-card .card-figure .card-video {
    height: 170px;
    width: 280px;
  }
}
@media (max-width: 640px) {
  .section-gallery-images .gallery-container .gallery-card .card-figure figcaption {
    height: auto;
    width: 335px;
  }
}
@media (max-width: 640px) and (max-width: 374px) {
  .section-gallery-images .gallery-container .gallery-card .card-figure figcaption {
    height: auto;
    width: 280px;
  }
}
.section-modal-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: inherit;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: inherit;
  bottom: inherit;
  left: 0;
  z-index: 20;
  min-height: 100%;
  margin: 0;
  padding: 0;
  background: rgba(196, 196, 196, 0.4);
}
.section-modal-image .carousel {
  height: 100%;
  width: 1255px;
  position: fixed;
  top: 0;
  right: inherit;
  bottom: inherit;
  left: initial;
  overflow: auto;
  background: white;
}
.section-modal-image .carousel .slider-close {
  right: 20px;
  text-align: right;
  position: absolute;
  padding: 17px 20px 0 20px;
  cursor: pointer;
  font-size: 77px;
  height: 42px;
  width: 42px;
  color: #911C1C;
}
.section-modal-image .carousel ul.slides {
  display: block;
  position: relative;
  height: 900px;
  margin: 22px auto 0 auto;
  padding: 0;
  list-style: none;
  width: 1050px;
}
.section-modal-image .carousel ul.slides .slide-input {
  display: none;
}
.section-modal-image .carousel ul.slides .slide-input:checked + .slide-container .slide-article {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}
.section-modal-image .carousel ul.slides .slide-input:checked + .slide-container .carousel-controls label {
  display: block;
}
.section-modal-image .carousel ul.slides .slide-container {
  display: block;
}
.section-modal-image .carousel ul.slides .slide-container .slide-article {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0;
  transition: all 0.7s ease-in-out;
}
.section-modal-image .carousel ul.slides .slide-container .slide-article:hover + .carousel-controls label {
  opacity: 0.5;
}
.section-modal-image .carousel ul.slides .slide-container .slide-article .slide-image {
  margin: 0;
}
.section-modal-image .carousel ul.slides .slide-container .slide-article .slide-image .image {
  width: 1050px;
  min-width: 100%;
  height: 900px;
  object-fit: cover;
  border-radius: 5px;
}
.section-modal-image .carousel ul.slides .slide-container .slide-article .slide-image .slide-title {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  color: #911C1C;
}
.section-modal-image .carousel ul.slides .slide-container .slide-article .slide-video {
  margin: 0;
}
.section-modal-image .carousel ul.slides .slide-container .slide-article .slide-video .video {
  width: 1050px;
  min-width: 100%;
  height: 900px;
  object-fit: cover;
  border-radius: 5px;
}
.section-modal-image .carousel ul.slides .slide-container .slide-article .slide-video .slide-title {
  font-family: DM Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  color: #911C1C;
}
.section-modal-image .carousel ul.slides .slide-container .carousel-controls {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  font-size: 100px;
  line-height: 900px;
  color: #911C1C;
}
.section-modal-image .carousel ul.slides .slide-container .carousel-controls .prev-slide {
  width: 49%;
  text-align: left;
  left: -83px;
  display: none;
  position: absolute;
  padding: 0 20px;
  opacity: 1;
  cursor: pointer;
  font-size: 48px;
}
.section-modal-image .carousel ul.slides .slide-container .carousel-controls .next-slide {
  width: 49%;
  text-align: right;
  right: -83px;
  display: none;
  position: absolute;
  padding: 0 20px;
  opacity: 1;
  cursor: pointer;
  font-size: 48px;
}

body {
  margin: 0;
}

.main {
  position: relative;
  top: 60px;
  margin: 0 68px;
}
@media (min-width: 1081px) and (max-width: 1438px) {
  .main {
    top: 117px;
  }
}
@media (min-width: 641px) and (max-width: 1080px) {
  .main {
    top: 117px;
    margin: 0 18px;
  }
}
@media (max-width: 640px) {
  .main {
    top: 85px;
    margin: 0 20px;
  }
}
@media (max-width: 344px) {
  .main {
    top: 117px;
  }
}

.main-photographer {
  position: relative;
  margin: 0 68px;
}
@media (min-width: 641px) and (max-width: 1080px) {
  .main-photographer {
    margin: 0 18px;
  }
}
@media (max-width: 640px) {
  .main-photographer {
    margin: 0 20px;
  }
}

.section {
  display: grid;
  justify-content: space-between;
  padding: 0;
  grid-template-columns: auto auto auto;
}
@media (max-width: 900px) {
  .section {
    grid-template-columns: auto auto;
  }
}
@media (max-width: 640px) {
  .section {
    justify-content: center;
    grid-template-columns: auto;
  }
}

/*# sourceMappingURL=style.css.map */
