header {
    .container {
        margin: 43px 100px;
        .row {
            @include size(100%, 100%);
            @include flex();
            @include align(space-between, center, inherit);
            flex-wrap: wrap;
            .column {
                @include size(100%, 100%);
                @include relative-position();
            }
            .left, .right {
                flex-basis: 0;
                flex-grow: 0;
                @include maxsize(100%, 100%);
            }
            .left a figure {
                margin: 0;
                img {
                    @include size(200px, 100%);
                }
            } 
            .center {
                flex: 0 0 50%;
                @include maxsize(100%, 50%);
                .navbar {
                    .navbar-center {
                        @include flex();
                        @include align(center, inherit, inherit);
                        padding: 0;
                        .list-items {  
                            @include size(auto, 22px);
                            list-style: none;  
                            margin: 5px;
                            &:first-child {
                                margin-left: 0;
                            }
                            &:last-child {
                                margin-right: 0;
                            }
                            .link-item {
                                @include font(12px, 15.62px, 500);
                                border: .5px solid #C4C4C4;
                                border-radius: 11px;
                                color: var(--primary);
                                padding: 0.156rem 0.423rem;
                                text-decoration: none;
                                transition: all .2s;
                                &:hover {
                                    background-color: var(--primary);
                                    color: var(--white);
                                }
                            }
                        }
                    }
                }
            }
            .right {
                text-align: end;
                .title {
                    @include font(36px, 47px, normal);
                    color: var(--primary);
                    margin: 0;
                    @include size(306px, 100%);
                }
            }
        }
    }
}