:root {
    --transparent: transparent;
    --inherit: inherit;
    --white: #fff;
    --black: #000;
    --primary: #901C1C;
    --secondary: #D3573C;
    --tertiary: #525252;
    --dark-gray: #757575;
    --gray-98: #fafafa;
}