@include breakpoint(tablet) {
    .section-modal-image {
        .slider {
            @include size(640px, 100%); 
            @include flex();
            &__close {
                @include absolute-position(160px, 0);
                padding: 0 8px 0 9px;
            }
            &__list__item {
                @include size(520px, 490px);
                margin: auto;
            }
            &__prev {
                @include absolute-position(223px, inherit, inherit, -60px);
                padding: 0 20px;
            }         
            &__next {
                @include absolute-position(223px, -60px);
                padding: 0 15px;
            }
            &__image {
                @include size(100%, 446px);
            }
            &__video {
                @include size(100%, 446px);
            }
        }
    }
}